@import 'stuff/variables.scss';
@import 'stuff/chat.scss';
@import 'stuff/server-list.scss';
@import 'stuff/channel-list.scss';
@import 'stuff/channel-bar.scss';
@import 'stuff/member-list.scss';
@import 'stuff/settings.scss';
@import 'stuff/user-area.scss';
@import 'stuff/friends.scss';
@import 'stuff/other.scss';
@import 'stuff/plugins_support.scss';

// USRBG
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

// Custom Avatar Hint
@import url("https://custom-avatar-hints.github.io/hints/app/database.css");
@import url("https://custom-avatar-hints.github.io/hints/app/language-hell.css");

// Premium shit
@import url('https://a-user-s-discord-themes.github.io/premium-shit/Custom%20color%20status/app.css');
@import url('https://a-user-s-discord-themes.github.io/premium-shit/Chat%20profile%20photo%20effects/app.css');
@import url('https://nyri4.github.io/donators/donators.css');

// Font Importing
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');