:root {
  // Messages
  .messagesWrapper_ea2b0b {
    flex-direction: column;

    .cozy_f5c119.wrapper__09ecc {
      padding-left: 50px;

      &.groupStart__56db5 .contents_f41bb2::after {
        left: 48px;
        width: 30px;
        height: 30px;
      }

      // Avatar
      .avatar__08316 {
        position: relative;
        left: -2px;
        width: 30px;
        height: 30px;
        border-radius: var(--avatar-radius);
      }

      .avatarDecoration__14b3c {
        left: 43px;
        width: 40px;
        height: 40px;
      }

      // Username
      .header__39b23 {
        left: 38px;
        margin-top: -30px;
        margin-bottom: 10px;
        width: 100%;
      }

      // Timestamps
      .timestamp_cdbd93.alt__6c563 {
        position: absolute;
        font-size: 0.6875rem !important;
        right: 10px;
        left: unset;
        opacity: 0;
      }
      &:hover .timestamp_cdbd93 {
        opacity: 1;
      }

      // Pins
      .iconContainer_dfc268 {
        position: unset;
        width: unset;
        margin-right: 10px;
      }

      // Replied messages
      .repliedMessage_e2bf4a {
        margin-left: 48px;

        .replyAvatar_cea07c {
          border-radius: calc(var(--avatar-radius) - 3px);
        }
      }

      // Blockquotes
      .blockquoteContainer_f24d1f {
        .blockquoteDivider__96157 {
          display: none;
        }

        blockquote {
          padding: 12px;
          background: var(--background-secondary);
          border-radius: 4px;
          width: 100%;
        }
      }

      // Threads
      &.hasThread__58ee2 {
        &::after {
          margin-left: 24px;
        }

        .container_dbadf5 {
          margin-left: 48px;
          border-radius: 8px;
        }
      }
    }

    .scroller__1f96e::-webkit-scrollbar {
      display: none;
    }
  }

  // Message buttons
  .wrapper_c727b6 {
    border: none;
    box-shadow: none;
    background: var(--background-secondary);

    &:hover {
      box-shadow: none;
    }
  }

  // Bots tag
  .botTagRegular_c89c9a {
    border-radius: 5px;
    background: var(--main-color);
  }

  // botTagOP_e48ddb
  .botTagOP_e48ddb {
    color: white;
  }

  // Mentions
  .wrapper__2d9b1 {
    background: transparent !important;
    position: relative;
    color: var(--main-color) !important;

    &.mention {
      border-radius: 5px;
    }

    &:hover::after {
      opacity: 0.2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--main-color);
      opacity: 0.08;
      border-radius: 5px;
      transition: opacity 200ms;
      pointer-events: none;
    }
  }

  // New Messages
  .newMessagesBar__8b6d7 {
    position: static;
    margin: 5px 40px 0 40px;
    padding: 5px;
    background: var(--background-secondary);
    border-radius: 7px;
    opacity: 1;

    .barButtonMain__0f5c6 {
      opacity: 0.6;
    }
    .barButtonAlt__4b48f {
      display: none;
    }
  }

  // Mesage Dividers
  .divider_b9338f {
    margin: 0 56px;
    border: none;
    height: unset;
    background: transparent;

    &.isUnread__6f880:not(.hasContent_fea365) {
      margin: 10px 47px;
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }

    .content_d67847,
    &#---new-messages-bar .unreadPill__715fc {
      background: var(--background-secondary);
      width: 100%;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      height: unset;
    }

    .unreadPill__715fc {
      position: relative;
      color: #f04747;
      top: 0;

      .unreadPillCap__96b8d {
        display: none;
      }
    }

    &#---new-messages-bar .content_d67847 {
      border-radius: 5px 0 0 5px;

      & + .unreadPill__715fc {
        border-radius: 0 5px 5px 0;
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }

  // Jump to present
  .jumpToPresentBar__0ff7f {
    bottom: 15px;
    left: unset;
    height: 40px;
    padding-bottom: 0;
    background: var(--background-secondary);
    border-radius: 8px;

    .barButtonAlt__4b48f {
      text-indent: -10000px;
      font-size: 0;
      padding: 0 6px;

      .barButtonIcon__907ef {
        margin-left: 0;
        width: 28px;
        height: 28px;
      }
    }
    .barButtonMain__0f5c6 {
      display: none;
    }

    .spinner__20584 {
      padding: 0 5px;
    }
  }

  // Emoji picker

  // Resizing
  .resizeHandle__86d9c {
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 36px);
      background: #0005;
      border-radius: 8px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }

    &:active::before {
      opacity: 1;
      pointer-events: all;
    }
  }

  .navButtonActive__735cb {
    background: var(--background-primary);
  }

  #emoji-picker-tab-panel {
    border-radius: 8px 8px 0 0;

    .header__55964 {
      box-shadow: none;
    }

    // Discord's capitalism
    .premiumPromo__2d678 {
      background: var(--background-secondary);
      opacity: 1;
      animation: fade 0.3s ease, zoom 0.3s ease;
    }

    &.wrapper__66cd5 {
      margin-bottom: 8px;
    }

    .container_e4c233,
    .emojiItem_b15dee.emojiItemSelected__1a09a {
      background: var(--background-primary);
    }

    .imageLoading__37d01 {
      background-image: none !important;
      background-color: var(--background-primary);
      border-radius: 8px;
    }

    .inspector__993e1 {
      position: absolute;
      top: -50px;
      right: 0;
      padding: 0 8px;
      justify-content: end;
      width: unset;
      max-width: 220px;
      background: transparent;
    }

    .diversitySelectorOptions__846c5 {
      background: var(--background-primary);
      border: none;
    }

    &:not(.emojiPickerInExpressionPicker-2nOwH8) {
      .inspector__993e1 {
        position: absolute;
        top: unset;
        bottom: 0;
        right: 0;
        left: 48px;
        padding: 0 16px;
        max-width: unset;
        background: linear-gradient(transparent, var(--background-secondary));
      }
    }

    .wrapper__4f229 {
      background: var(--background-secondary);

      .scroller_e89578::-webkit-scrollbar {
        display: none;
      }
    }

    .badgeLabel__7c5a4 {
      display: none;
    }
  }

  .positionContainer__0c914 {
    height: 414px;
    bottom: calc(100% - 8px);
    transform: translateZ(0);
  }

  // GIF
  .contentWrapper__321ed .header_f7f1f3 {
    box-shadow: none;

    .inner__999f6 {
      height: 34px;
      background: var(--background-primary);

      .iconLayout__6d744 {
        width: 30px;
        height: 30px;
      }
    }
  }

  // Stickers
  #sticker-picker-tab-panel {
    .header_f71767 {
      box-shadow: none;
    }

    & .container_e4c233 {
      background-color: var(--background-primary);
    }

    .wrapper__4f229 {
      background: var(--background-secondary);

      .scroller_e89578::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // -- Upload Modal --
  .uploadModal_eae2a0 {
    background: var(--background-primary);
    box-shadow: unset;
    width: 1000px;
    height: 400px;
    border-radius: 15px;

    .inner__7afe9 .comment__3f7b9,
    .inner__7afe9 .file_f309f6 .description__4ba40 {
      margin-left: 55%;
      margin-right: 30px;
    }

    .inner__7afe9 {
      .comment__3f7b9 .label__7d3d6 {
        text-transform: unset;
        font-size: 12px;
        opacity: 0.8;
      }

      .file_f309f6 {
        height: 75px;

        .description__4ba40 {
          margin-top: 15px;

          .filename__06077 {
            font-weight: 550;
          }
        }

        .icon__25b13 {
          background-color: var(--background-secondary);
          background-size: 70px;

          &.video__2df8a {
            background-image: url(https://cdn.discordapp.com/attachments/539180316447997974/705623014334791720/videocam-white-18dp.svg);
          }
          &.acrobat__3923e {
            background-image: url(https://cdn.discordapp.com/attachments/539180316447997974/705623972791975936/picture_as_pdf-white-18dp.svg);
          }
        }
      }
    }

    .footer_ceda43 {
      background-color: transparent;
      box-shadow: unset;
      position: absolute;
      right: 20px;
      bottom: 10px;
    }

    .checkboxWrapper__02583 .checkbox_c7f690 {
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;

      &.checked__24ad6::before {
        color: var(--textcolor);
        content: "visibility_off";
      }

      &:hover,
      .checked__24ad6 {
        opacity: 1;
      }

      &::before {
        content: "visibility";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0008;
        text-align: center;
        line-height: 350px;
        color: #fff6;
        font-size: 72px;
        font-family: "Material Icons", sans-serif;
        visibility: visible;
        border-radius: 19px;
      }
    }

    .labelForward__9779e {
      display: none;
    }

    .inner__7afe9 .file_f309f6 .icon__25b13.image__00ac0,
    .checkboxWrapper__02583,
    .inner__7afe9 .file_f309f6 .icon__25b13 {
      position: fixed;
      top: 20px;
      left: 10px;
      width: 48% !important;
      height: 350px !important;
      margin-top: 0 !important;
      margin-left: 16px !important;
      margin-right: 16px !important;
      box-shadow: unset;
      border-radius: 20px;
    }

    .scrollableContainer__33e06.webkit__8d35a {
      max-height: 215px;
    }
  }

  // Autocomplete
  .autocomplete_df266d {
    background: var(--background-secondary);
    bottom: calc(100% - 8px);
    border-radius: 8px 8px 0 0;
    box-shadow: none;

    .categoryHeader_f97a5f {
      background-color: var(--background-tertiary);
      border-radius: 6px;

      &::after {
        content: none;
      }
    }

    .contentTitle_b7c496 {
      color: var(--textcolor);
    }

    .scroller_e89578 {
      overflow: visible !important;
    }
  }

  // Audio files
  .wrapperAudio__555ce {
    background: var(--background-secondary);
    border: none;
    border-radius: 7px;
    padding: 0;

    .audioMetadata_e546a8 {
      padding: 10px;
    }
    .audioControls__9fbe9 {
      background: transparent;

      .mediaBarWrapper_f312bd {
        &:hover {
          box-shadow: none;
        }

        .mediaBarProgress__29db2,
        .mediaBarProgress__29db2:after,
        .mediaBarProgress__29db2:before,
        .mediaBarGrabber_c64ff9 {
          background: var(--main-color) !important;
        }
      }
    }
  }

  // Embeds
  .embedFull__8dc21 {
    width: calc(100% + 100px);
    max-width: unset !important;
    left: -50px;
    border-radius: 0;
    border-color: var(--background-secondary-alt-alt);
    position: relative;
    overflow: hidden;

    .grid_c7c4e6 {
      margin-left: 34px;
      margin-right: 12px;

      .embedSuppressButton_df9a75 {
        top: 12px;
        right: 12px;
      }
    }
  }

  .theme-light .embedFull__8dc21 {
    background: var(--background-secondary-alt-alt);
    border-color: var(--card);
  }

  // Server invite
  .wrapper_efe67f {
    background: var(--background-secondary);
    border-radius: 10px;

    .header_aea860 {
      display: none;
    }

    .count__72c4c {
      font-weight: 500;
      color: var(--textcolor);
    }
  }

  // Codeblocks
  .markup_a7e664 code {
    border: none;
    background: var(--colortransparency);
    border-radius: 10px;
  }
  .hljs .powercord-lines:after,
  .powercord-codeblock-lang {
    border: none;
  }
  .powercord-codeblock-lang {
    padding: 3px 10px;
  }

  .textContainer__709ff,
  .footer__06f4b {
    border: none;

    .scrollbar_d66c5e::-webkit-scrollbar {
      display: none;
    }
  }
  .textContainer__709ff {
    border-radius: 10px 10px 0 0;
  }
  .footer__06f4b {
    border-radius: 0 0 10px 10px;
  }

  // Spoilers
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary);
  }

  // Spotify embeds
  .embedSpotify_d58077 {
    border-radius: 5px;
  }

  // Spotify invites
  .invite__2a93b {
    background: var(--background-secondary);
    border: none;
  }

  // Gifts
  .tile_ebc93b {
    transform: translateZ(0);
    overflow: hidden;
    background: var(--background-secondary);

    &:hover {
      background: var(--background-secondary-alt-alt);
    }

    .invalidPoop__03aa3 {
      background: var(--background-secondary-alt-alt);
      position: relative;

      &::after {
        content: ">_<";
        animation: blink 2.5s;
        animation-iteration-count: infinite;
        font-size: 50px;
        color: var(--textcolor);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .description__883d4 {
      color: #fff;

      .tagline__3427c {
        color: #eee;
      }
    }

    .splash_c93129 {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      z-index: -1;
      opacity: 0.3;
      filter: blur(20px);
      mask-image: linear-gradient(#000b, #000b); // vscode thing
      -webkit-mask-image: linear-gradient(#000b, #000b);
    }
  }

  // Attach or create invite
  .popoutTopLeft-3B0mFf.noArrow-2foL9g.noShadow-3pu20z {
    margin-bottom: 0;
    margin-top: 8px;
  }

  // Uploading
  .attachment_f3cf2c {
    background: var(--background-secondary);
    border: none;
    border-radius: 7px;

    .progressBar-1T6LYX {
      border-radius: 0;
      background: #419e85 !important;
    }
  }

  // Annoucement channels
  .scrollableContainer__33e06,
  .wrapper_fbbb73 {
    background: var(--background-secondary);

    .lookFilled-yCfaCM.colorPrimary-2AuQVo {
      background-color: var(--main-color);
    }
  }

  // Attach button
  .attachButtonPlus_bf89ca,
  .attachButton_b1db83:hover .attachButtonPlus_bf89ca {
    fill: var(--main-color);
  }

  .form__13a2c:before {
    background: linear-gradient(
      180deg,
      transparent 0,
      var(--background-primary)
    );
  }

  // Typing
  .typing__6fd1d {
    z-index: 0;
  }

  // Delete message popout
  .message__04d9f {
    background: var(--background-secondary);
    box-shadow: none;
  }

  // Reaction
  .reaction-2A2y9y {
    background: var(--colortransparency);
  }

  .container_dc03c3,
  .reactors__20ab0 {
    background: var(--background-secondary);

    .scroller__5fda0 {
      background: var(--background-primary);
    }
  }

  // Threads
  .container_b181b6 {
    background-color: var(--background-primary);

    .tagsContainer_e0ece5 button,
    .tagsContainer_e0ece5 .tag__40098 {
      background-color: var(--background-secondary-alt-alt);
    }

    .mainCard__8a660 {
      background-color: var(--background-secondary);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}