:root {
  .header__77c95 {
    box-shadow: none;
    padding: 25px 25px 12px 25px;
    border-radius: 8px;
  }

  // Channel notice
  .channelNotice-tO6Tus,
  .channelNotice-3DDmsB {
    box-shadow: none;
    width: 170px;
    background: transparent;
    margin: 15px;
    padding: 20px;
    background: var(--background-primary);
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
    height: 60px;
    transition: height 400ms;

    &::before {
      content: "announcement";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 1;
      color: var(--textcolor);
      z-index: 1;
      font-size: 24px;
      font-family: "Material Icons", sans-serif;
      transition: opacity 200ms;
    }

    .message-3KLVy1 {
      opacity: 0;
      pointer-events: none;
      transition: opacity 400ms;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 100%;
      margin-bottom: auto;

      .btn-38SvSS,
      .btn-38SvSS:hover {
        background: var(--background-secondary-alt-alt);
        margin: 0 auto;
        margin-top: 20px;
        z-index: 1;
        width: unset;
      }

      & > div {
        margin-bottom: auto;
      }
    }

    .message-39hdqk {
      opacity: 0;
      margin-top: 30px;
      pointer-events: none;
      width: calc(100% + 20px);
      transition: opacity 400ms;
    }

    .button__581d0 {
      background: var(--background-secondary-alt-alt);
      opacity: 0;
      pointer-events: none;
      transition: opacity 400ms;
    }

    &:hover {
      height: 160px;

      .message-3KLVy1,
      .message-39hdqk {
        pointer-events: all;
        opacity: 1;
      }
      &::before {
        opacity: 0;
      }
      .button__581d0 {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  // Channel header
  .clickable__1383f .header__77c95:hover,
  .selected__987e6 .header__77c95 {
    background: transparent;
  }

  .container__7e23c > .scroller__1f498 > .content__690c5 > div:first-child[style="height: 16px;"] {
    display: none;
  }

  .wrapper__07e2f {
    padding: 0 22px;
  }

  // Categories
  .container__43554 {
    color: var(--textcolor);
    text-transform: unset;
    font-size: 14px;
  }

  // No arrows
  .icon__3aa8e {
    display: none;
  }

  // Channels
  .wrapper__612a5 {
    height: 30px;
    margin: 0;

    .link_ddbb36 {
      height: 30px;
      padding: 6px 20px;
      border-radius: 0;
    }
  }
  .unread__48cf4 {
    left: 0;
  }

  // Thread channels
  .typeThread__5fb37 .name__4eb92 {
    padding-left: 28px;
  }

  .unread__75c9f,
  .bar__004d9 {
    border-radius: 4px;
    background: var(--main-color);

    .barText__32a63 {
      color: white !important;
    }
  }

  // No scrollbars
  .scroller__1f498,
  .scroller_de945b,
  #channels {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Channel settings
  .sidebarScrollable_d64933 + .content__5eeb2 {
    max-width: unset;
  }

  // Call channels
  .containerDefault_ae2ea4:has(.linkBottom__942a1) .list__02208 {
    padding-top: 15px;
  }
}
