:root {
  .header__104ca {
    box-shadow: none;
    padding: 25px 25px 12px 25px;
    border-radius: 8px;
  }

  // Channel notice
  .channelNotice-tO6Tus,
  .channelNotice-3DDmsB {
    box-shadow: none;
    width: 170px;
    background: transparent;
    margin: 15px;
    padding: 20px;
    background: var(--background-primary);
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
    height: 60px;
    transition: height 400ms;

    &::before {
      content: "announcement";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 1;
      color: var(--textcolor);
      z-index: 1;
      font-size: 24px;
      font-family: "Material Icons", sans-serif;
      transition: opacity 200ms;
    }

    .message-3KLVy1 {
      opacity: 0;
      pointer-events: none;
      transition: opacity 400ms;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 100%;
      margin-bottom: auto;

      .btn-38SvSS,
      .btn-38SvSS:hover {
        background: var(--background-secondary-alt-alt);
        margin: 0 auto;
        margin-top: 20px;
        z-index: 1;
        width: unset;
      }

      & > div {
        margin-bottom: auto;
      }
    }

    .message-39hdqk {
      opacity: 0;
      margin-top: 30px;
      pointer-events: none;
      width: calc(100% + 20px);
      transition: opacity 400ms;
    }

    .button_afdfd9 {
      background: var(--background-secondary-alt-alt);
      opacity: 0;
      pointer-events: none;
      transition: opacity 400ms;
    }

    &:hover {
      height: 160px;

      .message-3KLVy1,
      .message-39hdqk {
        pointer-events: all;
        opacity: 1;
      }
      &::before {
        opacity: 0;
      }
      .button_afdfd9 {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  // Channel header
  .clickable__2d589 .header__104ca:hover,
  .selected__0b1ad .header__104ca {
    background: transparent;
  }

  .container__590e2 > .scroller_f0f183 > .content__23cab > div:first-child[style="height: 16px;"] {
    display: none;
  }

  .wrapper__9c483 {
    padding: 0 22px;
  }

  // Categories
  .container-q97qHp {
    color: var(--textcolor);
    text-transform: unset;
    font-size: 14px;
  }

  // No arrows
  .icon_ef4486 {
    display: none;
  }

  // Channels
  .wrapper__7bcde {
    height: 30px;
    margin: 0;

    .link__95dc0 {
      height: 30px;
      padding: 6px 20px;
      border-radius: 0;
    }
  }
  .unread__48cf4 {
    left: 0;
  }

  // Thread channels
  .typeThread__2f91c .name__8d1ec {
    padding-left: 28px;
  }

  .unread__75c9f,
  .bar__004d9 {
    border-radius: 4px;
    background: var(--main-color);

    .barText__1a44f {
      color: white !important;
    }
  }

  // No scrollbars
  .scroller_f0f183,
  .scroller__3d071,
  #channels {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Channel settings
  .sidebarScrollable__4aad1 + .content__5937e {
    max-width: unset;
  }
}