:root { 

    
// Search bar
.inner-2P4tQO { background: var(--background-secondary);}
    
// Removing help buttons
[href="https://support.discord.com"], .searchLearnMore-3SQUAj .anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB { display: none;}

// Top bar
.container-1r6BKw.title-3qD0b-:not(.minimum-28Z35l)  { 
    z-index: 1; background: transparent;
    width: calc(100% - 240px);

    .toolbar-1t6TWx, .topic-TCb_qw { -webkit-app-region: no-drag;}
    .icon-22AiRD { -webkit-app-region: unset;}
    .followButton-L6L-Us, .children-19S4PO:after { display: none;}

    // Search bar
    .search-36MZv- {
        position: fixed;
        right: 10px;

        .searchBar-3dMhjb {
            background: var(--background-primary);
            width: 200px;
            height: 28px;
            padding: 2px 10px;
            border-radius: 4px;

            .searchFilter-2ESiM3, .searchAnswer-3Dz2-q { background: transparent;}
            .icon-3cZ1F_ { color: var(--main-color);}
        }
    }
}

// Search popout
.container-3ayLPN {
    background: var(--background-secondary-alt-alt);
    box-shadow: none;

    .queryContainer-RKFJW- { 
        border: none;

        &.focused-2bY0OD { background: var(--background-secondary-alt-alt);}

        .keybindShortcut-1BD6Z1 { display: none;}
    }

    .resultsGroup-r_nuzN {
        &::before { display: none;}

        // Options
        .option-96V44q {
            padding: 0 20px;
            margin: 0;
            border-radius: 0;

            &.selected-rZcOL- { background: var(--background-secondary);}
            &:after { display: none;}
        }
    }

    // Datepicker (yeah this exist)
    .calendarPicker-2yf6Ci .react-datepicker {
        background: transparent;
        border-radius: 0;

        // Header
        .react-datepicker__header { 
            background: transparent;

            .react-datepicker__current-month { border-bottom: none;}
        }

        &__navigation--next, &__navigation--previous {
            border: none;
            border-radius: 50%;

            &:hover { background-color: var(--epicshadow1);}
        }

        [class^="react-datepicker__day"] { background: transparent;}
        .react-datepicker__day { 
            border-color: var(--background-tertiary);

            &--selected:after, &--selected:hover, &:hover { background: var(--main-color);}
        }
    }
    .datePickerHint-3Q1Udw .hintValue-29ny8Z { background: var(--main-color);}
}

// Search results
.searchResultsWrap-3-pOjs {
    background: var(--background-secondary);
    top: -48px;
    padding-top: 48px;
    height: 100%;

    .searchHeader-2XoQg7 {
        position: absolute;
        width: 100%;
        background: linear-gradient(180deg, var(--background-secondary), transparent);
    }

    .scroller-3GIiMh { 
        padding: 0; padding-top: 48px;

        & > div { padding: 0 14px 0 20px;}

        .channelName-1JRO3C{
            background: transparent;
            padding: 8px 0;
        }

        .searchResult-9tQ1uo {
            border: none;
            box-shadow: none;
            border-radius: 10px;
        }
    }
}
.jumpButton-3DTcS_, .button-11zvza { background: var(--background-primary);}

// Inbox
.recentMentionsPopout-3rCiI6 {
    position: fixed;
    top: 0; right: 0;
    max-height: 100% !important;
    animation: sidebarStatusTransalteXReverse .5s ease, fade .4s ease;
    border-radius: 0;

    // Top
    .header-ykumBX {
        background: linear-gradient(360deg, transparent, var(--background-secondary));
        position: absolute;
        top: 0; left: 0; right: 0;
        z-index: 10;

        .topPill-30KHOu { 
            margin: 0 auto;

            .tab-ck0077.active-1MbGPa { background: var(--background-primary);}
        }

        .secondary-dIudih {
            position: absolute;
            right: 16px;
            background: transparent;
        }
    }

    // Body
    .messagesPopout-24nkyi, .scroller-tlc3kG {
        padding-top: 56px;

        // Card
        .channelHeader-3Gd2xq {
            position: relative;
            background: transparent;

            // Cross button
            .tertiary-aMXF0g { background: var(--background-primary);}
        }
    }

    // Tutorial
    .tutorial-3w5I9h {
        background: var(--background-primary);
        margin-top: 66px;
    }

    .tutorialIcon-3f1miQ {
        background: var(--background-secondary);
        color: #fff;
    }
}
.recentMentionsPopout-3rCiI6 { background: var(--background-secondary); box-shadow: var(--elevation-high);}

// Pinned messages
.messagesPopoutWrap-1MQ1bW:not(.recentMentionsPopout-3rCiI6) {
    position: fixed;
    top: 48px; left: 330px;
    width: calc(100% - 570px);
    max-height: calc(100% - 48px) !important;
    height: 100%; box-shadow: unset;
    background: var(--background-primary);
    border-radius: 0;

    .header-ykumBX {
        background: var(--background-primary);
        text-align: center;
    }

    .messagesPopout-24nkyi {
        padding: 0 32px;
        padding-top: 5px;
        
        .messageGroupWrapper-o-Zw7G {
            border: none;
            background: var(--background-secondary);
            margin-bottom: 32px;
        }

        &::-webkit-scrollbar { 
            width: 8px; margin-left: 5px;
    
            &-thumb { 
                border:none;
                background: var(--background-secondary) !important;
                border-radius: 6px 0 0 6px;
            }
    
            &-track-piece { display: none;}
        }
    }
}
.container-enaOkj .scroller-tlc3kG { padding-top: 56px;}

}