:root {
  // Messages
  .messagesWrapper_e2e187 {
    flex-direction: column;

    .cozy_f9f2ca.wrapper_f9f2ca {
      padding-left: 50px;

      &.groupStart_d5deea .contents_f9f2ca::after {
        left: 48px;
        width: 30px;
        height: 30px;
      }

      // Avatar
      .avatar_f9f2ca {
        position: relative;
        left: -2px;
        width: 30px;
        height: 30px;
        border-radius: var(--avatar-radius);
      }

      .avatarDecoration_f9f2ca {
        left: 43px;
        width: 40px;
        height: 40px;
      }

      // Username
      .header_f9f2ca {
        left: 38px;
        margin-top: -30px;
        margin-bottom: 10px;
        width: 100%;
      }

      // Timestamps
      .timestamp_f9f2ca.alt_f9f2ca {
        position: absolute;
        font-size: 0.6875rem !important;
        right: 10px;
        left: unset;
        opacity: 0;
      }
      &:hover .timestamp_f9f2ca {
        opacity: 1;
      }

      // Pins
      .iconContainer_d76df7 {
        position: unset;
        width: unset;
        margin-right: 10px;
      }

      // Replied messages
      .repliedMessage_f9f2ca {
        margin-left: 48px;

        .replyAvatar_f9f2ca {
          border-radius: calc(var(--avatar-radius) - 3px);
        }
      }

      // Blockquotes
      .blockquoteContainer_f8f345 {
        .blockquoteDivider_f8f345 {
          display: none;
        }

        blockquote {
          padding: 12px;
          background: var(--background-secondary);
          border-radius: 4px;
          width: 100%;
        }
      }

      .shiki-container {
        background-color: transparent;

        .shiki-root {
          background-color: var(--background-secondary) !important;
          border-radius: 8px;
          overflow: hidden;
        }
      }

      // Threads
      &.hasThread_f9f2ca {
        &::after {
          top: 2.5rem;
          left: 3.5rem;
        }

        & > .contents_f9f2ca > [id^="message-content-"] {

        }

        .container_c15230 {
          margin-left: 48px;
          border-radius: 8px;
        }
      }
    }

    .scroller_e2e187::-webkit-scrollbar {
      display: none;
    }
  }

  // Message buttons
  .wrapper_f7e168 {
    border: none;
    box-shadow: none;
    background: var(--background-secondary);

    &:hover {
      box-shadow: none;
    }
  }

  // Bots tag
  .botTagRegular_a9e77f {
    border-radius: 5px;
    background: var(--main-color);
  }

  // botTagOP_e48ddb
  .botTagOP_e48ddb {
    color: white;
  }

  // Mentions
  .wrapper_d4fa29 {
    background: transparent !important;
    position: relative;
    color: var(--main-color) !important;

    &.mention {
      border-radius: 5px;
    }

    &:hover::after {
      opacity: 0.2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--main-color);
      opacity: 0.08;
      border-radius: 5px;
      transition: opacity 200ms;
      pointer-events: none;
    }
  }

  // New Messages
  .newMessagesBar_cf58b5 {
    position: static;
    margin: 5px 40px 0 40px;
    padding: 5px;
    background: var(--background-secondary);
    border-radius: 7px;
    opacity: 1;

    .barButtonMain_cf58b5 {
      opacity: 0.6;
    }
    .barButtonAlt_cf58b5 {
      display: none;
    }
  }

  // Mesage Dividers
  .divider_c2654d {
    margin: 0 56px;
    border: none;
    height: unset;
    background: transparent;

    &.isUnread_c2654d:not(.hasContent_c2654d) {
      margin: 10px 47px;
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }

    .content_c2654d,
    &#---new-messages-bar .unreadPill_c2654d {
      background: var(--background-secondary);
      width: 100%;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      height: unset;
    }

    .unreadPill_c2654d {
      position: relative;
      color: #f04747;
      top: 0;

      .unreadPillCap_c2654d {
        display: none;
      }
    }

    &#---new-messages-bar .content_c2654d {
      border-radius: 5px 0 0 5px;

      & + .unreadPill_c2654d {
        border-radius: 0 5px 5px 0;
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }

  // Jump to present
  .jumpToPresentBar_cf58b5 {
    bottom: 15px;
    left: unset;
    height: 40px;
    padding-bottom: 0;
    background: var(--background-secondary);
    border-radius: 8px;

    .barButtonAlt_cf58b5 {
      text-indent: -10000px;
      font-size: 0;
      padding: 0 6px;

      .barButtonIcon_cf58b5 {
        margin-left: 0;
        width: 28px;
        height: 28px;
      }
    }
    .barButtonMain_cf58b5 {
      display: none;
    }

    .spinner_cf58b5 {
      padding: 0 5px;
    }
  }

  // Emoji picker

  // Resizing
  .resizeHandle_af5dbb {
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 36px);
      background: #0005;
      border-radius: 8px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }

    &:active::before {
      opacity: 1;
      pointer-events: all;
    }
  }

  .navButtonActive_af5dbb {
    background: var(--background-primary);
  }

  #emoji-picker-tab-panel {
    border-radius: 8px 8px 0 0;

    .header_c6ee36 {
      box-shadow: none;
    }

    // Discord's capitalism
    .premiumPromo_ca9b56 {
      background: var(--background-secondary);
      opacity: 1;
      animation:
              fade 0.3s ease,
              zoom 0.3s ease;
    }

    &.wrapper_c6ee36 {
      margin-bottom: 8px;
    }

    .container_effbe2,
    .emojiItem_fbfedd.emojiItemSelected_fbfedd {
      background: var(--background-primary);
    }

    .imageLoading_b000dd {
      background-image: none !important;
      background-color: var(--background-primary);
      border-radius: 8px;
    }

    .inspector_c3120f {
      position: absolute;
      top: -50px;
      right: 0;
      padding: 0 8px;
      justify-content: end;
      width: unset;
      max-width: 220px;
      background: transparent;
    }

    .diversitySelectorOptions_cce80d {
      background: var(--background-primary);
      border: none;
    }

    &:not(.emojiPickerInExpressionPicker-2nOwH8) {
      .inspector_c3120f {
        position: absolute;
        top: unset;
        bottom: 0;
        right: 0;
        left: 48px;
        padding: 0 16px;
        max-width: unset;
        background: linear-gradient(transparent, var(--background-secondary));
      }
    }

    .wrapper_dc0b29 {
      background: var(--background-secondary);

      .scroller_d53d65::-webkit-scrollbar {
        display: none;
      }
    }

    .badgeLabel_c3120f {
      display: none;
    }
  }

  .positionContainer_af5dbb {
    height: 414px;
    bottom: calc(100% - 8px);
    transform: translateZ(0);
  }

  // GIF
  .contentWrapper_af5dbb .header_b56bbc {
    box-shadow: none;

    .inner__999f6 {
      height: 34px;
      background: var(--background-primary);

      .iconLayout__67261 {
        width: 30px;
        height: 30px;
      }
    }
  }

  // Stickers
  #sticker-picker-tab-panel {
    .header_d8cdac {
      box-shadow: none;
    }

    & .container_effbe2 {
      background-color: var(--background-primary);
    }

    .wrapper_dc0b29 {
      background: var(--background-secondary);

      .scroller_d53d65::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // -- Upload Modal --
  .uploadModal_f82cc7 {
    background: var(--background-primary);
    box-shadow: unset;
    width: 1000px;
    height: 400px;
    border-radius: 15px;

    .inner_f82cc7 .comment_f82cc7,
    .inner_f82cc7 .file_f82cc7 .description_f82cc7 {
      margin-left: 55%;
      margin-right: 30px;
    }

    .inner_f82cc7 {
      .comment_f82cc7 .label_f82cc7 {
        text-transform: unset;
        font-size: 12px;
        opacity: 0.8;
      }

      .file_f82cc7 {
        height: 75px;

        .description_f82cc7 {
          margin-top: 15px;

          .filename_f82cc7 {
            font-weight: 550;
          }
        }

        .icon_f82cc7 {
          background-color: var(--background-secondary);
          background-size: 70px;

          &.video_f82cc7 {
            background-image: url(https://cdn.discordapp.com/attachments/539180316447997974/705623014334791720/videocam-white-18dp.svg);
          }
          &.acrobat_f82cc7 {
            background-image: url(https://cdn.discordapp.com/attachments/539180316447997974/705623972791975936/picture_as_pdf-white-18dp.svg);
          }
        }
      }
    }

    .footer_f82cc7 {
      background-color: transparent;
      box-shadow: unset;
      position: absolute;
      right: 20px;
      bottom: 10px;
    }

    .checkboxWrapper_f6cde8 .checkbox_f6cde8 {
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;

      &.checked_f6cde8::before {
        color: var(--textcolor);
        content: "visibility_off";
      }

      &:hover,
      .checked_f6cde8 {
        opacity: 1;
      }

      &::before {
        content: "visibility";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0008;
        text-align: center;
        line-height: 350px;
        color: #fff6;
        font-size: 72px;
        font-family: "Material Icons", sans-serif;
        visibility: visible;
        border-radius: 19px;
      }
    }

    .labelForward_f6cde8 {
      display: none;
    }

    .inner_f82cc7 .file_f82cc7 .icon_f82cc7.image_f82cc7,
    .checkboxWrapper_f6cde8,
    .inner_f82cc7 .file_f82cc7 .icon_f82cc7 {
      position: fixed;
      top: 20px;
      left: 10px;
      width: 48% !important;
      height: 350px !important;
      margin-top: 0 !important;
      margin-left: 16px !important;
      margin-right: 16px !important;
      box-shadow: unset;
      border-radius: 20px;
    }

    .scrollableContainer_d0696b.webkit__8d35a {
      max-height: 215px;
    }
  }

  // Autocomplete
  .autocomplete_bcc24e {
    background: var(--background-secondary);
    bottom: calc(100% - 8px);
    border-radius: 8px 8px 0 0;

    .categoryHeader_fe2299 {
      background-color: var(--background-tertiary);
      border-radius: 6px;

      &::after {
        content: none;
      }
    }

    .contentTitle_bcc24e {
      color: var(--textcolor);
    }

    .scroller_d53d65 {
      overflow: visible !important;
    }
  }

  // Audio files
  .wrapperAudio_f316dd {
    background: var(--background-secondary);
    border: none;
    border-radius: 7px;
    padding: 0;

    .audioMetadata_f316dd {
      padding: 10px;
    }
    .audioControls_f316dd {
      background: transparent;

      .mediaBarWrapper_f7877e {
        &:hover {
          box-shadow: none;
        }

        .mediaBarProgress_f7877e,
        .mediaBarProgress_f7877e:after,
        .mediaBarProgress_f7877e:before,
        .mediaBarGrabber_f7877e {
          background: var(--main-color) !important;
        }
      }
    }
  }

  // Embeds
  .embedFull_b0068a {
    width: calc(100% + 100px);
    max-width: unset !important;
    left: -50px;
    border-radius: 0;
    border-color: var(--background-secondary-alt-alt);
    position: relative;
    overflow: hidden;

    .grid_b0068a {
      margin-left: 34px;
      margin-right: 12px;

      .embedSuppressButton_b0068a {
        top: 12px;
        right: 12px;
      }
    }
  }

  .theme-light .embedFull_b0068a {
    background: var(--background-secondary-alt-alt);
    border-color: var(--card);
  }

  // Server invite
  .wrapper_a71a1c {
    background: var(--background-secondary);
    border-radius: 10px;

    .header_a71a1c {
      display: none;
    }

    .count_a71a1c {
      font-weight: 500;
      color: var(--textcolor);
    }
  }

  // Codeblocks
  .markup_f8f345 code {
    border: none;
    background: var(--colortransparency);
    border-radius: 10px;
  }
  .hljs .powercord-lines:after,
  .powercord-codeblock-lang {
    border: none;
  }
  .powercord-codeblock-lang {
    padding: 3px 10px;
  }

  .textContainer_d8e2d0,
  .footer_d8e2d0 {
    border: none;

    .scrollbar_c858ce::-webkit-scrollbar {
      display: none;
    }
  }
  .textContainer_d8e2d0 {
    border-radius: 10px 10px 0 0;
  }
  .footer_d8e2d0 {
    border-radius: 0 0 10px 10px;
  }

  // Spoilers
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary);
  }

  // Spotify embeds
  .embedSpotify_b0068a {
    border-radius: 5px;
  }

  // Spotify invites
  .invite_f61cb8 {
    background: var(--background-secondary);
    border: none;
  }

  // Gifts
  .tile_ab47a1 {
    transform: translateZ(0);
    overflow: hidden;
    background: var(--background-secondary);

    &:hover {
      background: var(--background-secondary-alt-alt);
    }

    .invalidPoop_ff31dd {
      background: var(--background-secondary-alt-alt);
      position: relative;

      &::after {
        content: ">_<";
        animation: blink 2.5s;
        animation-iteration-count: infinite;
        font-size: 50px;
        color: var(--textcolor);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .description_ab47a1 {
      color: #fff;

      .tagline_ab47a1 {
        color: #eee;
      }
    }

    .splash_cbd9b6 {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      z-index: -1;
      opacity: 0.3;
      filter: blur(20px);
      mask-image: linear-gradient(#000b, #000b); // vscode thing
      -webkit-mask-image: linear-gradient(#000b, #000b);
    }
  }

  // Attach or create invite
  .popoutTopLeft-3B0mFf.noArrow-2foL9g.noShadow-3pu20z {
    margin-bottom: 0;
    margin-top: 8px;
  }

  // Uploading
  .attachment_b52bef {
    background: var(--background-secondary);
    border: none;
    border-radius: 7px;

    .progressBar-1T6LYX {
      border-radius: 0;
      background: #419e85 !important;
    }
  }

  // Annoucement channels
  .scrollableContainer_d0696b,
  .wrapper_faf5ab {
    background: var(--background-secondary);

    .lookFilled-yCfaCM.colorPrimary-2AuQVo {
      background-color: var(--main-color);
    }
  }

  // Attach button
  .attachButtonPlus_f298d4,
  .attachButton_f298d4:hover .attachButtonPlus_f298d4 {
    fill: var(--main-color);
  }

  .form_a7d72e:before {
    background: linear-gradient(
                    180deg,
                    transparent 0,
                    var(--background-primary)
    );
  }

  // Typing
  .typing_d7ebeb {
    z-index: 0;
  }

  // App launcher
  .button_df39bd {
    background-color: var(--background-secondary);
  }
  .contentWrapper_f7506e {
    background-color: var(--background-primary);
  }
  .container_e5da8b {
    background-color: var(--background-secondary);
  }
  .container_c18ec9 {
    border-radius: 8px;
  }

  // Delete message popout
  .message_ddcc45 {
    background: var(--background-secondary);
    box-shadow: none;
  }

  // Reaction
  .reaction_f61c73 {
    background: var(--colortransparency);
  }

  .container_f2bfbb,
  .reactors_f2bfbb {
    background: var(--background-secondary);

    .scroller_f2bfbb {
      background: var(--background-primary);
    }
  }

  // Threads
  .container_a6d69a {
    background-color: var(--background-primary);

    .tagsContainer_a6d69a button,
    .tagsContainer_a6d69a .tag_a6d69a {
      background-color: var(--background-secondary-alt-alt);
    }

    .mainCard_a6d69a {
      background-color: var(--background-secondary);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}