:root {
  // Left bar
  .searchBar_f0963d {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    background: linear-gradient(
                    180deg,
                    var(--background-secondary),
                    transparent
    );
    box-shadow: none;

    .searchBarComponent_f0963d {
      background: var(--background-primary);
      border-radius: 20px;
      font-size: 10px;
      text-align: center;
    }
  }

  .input_f4e139 {
    background: var(--background-primary);
  }

  .privateChannels_f0963d > .scroller_c47fa9 {
    padding-top: 48px;
    background: transparent;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Channels
  .channel_c91bad {
    margin: 0;
    max-width: unset;
    border-radius: 0;

    .layout_ec8679 {
      padding: 0 22px;
      width: calc(100% - 22px);
      border-radius: 0;
    }
  }

  // Wide friend list
  .container_c2739c {
    background: var(--background-primary);

    // Buttons
    .actionButton_e01b91 {
      background: transparent;

      &:hover {
        background: var(--background-primary);
      }
    }

    // Scrollbar
    .peopleColumn_c2739c ::-webkit-scrollbar {
      display: none;
    }

    // Get rid of box-shadow
    .tabBody_c2739c::before,
    .libraryHeader_cb9493::before {
      content: none;
    }
    .header_c6ee36,
    .header_d8cdac,
    .header-JHwfVI {
      display: none;
    }

    // Now playing
    .nowPlayingColumn_c2739c {
      background: transparent;
      margin: 3px 0 10px 0;

      .container_bf550a {
        background: var(--background-secondary);
        border-radius: 15px 0 0 15px;

        .scroller_bf550a {
          border: none;
          padding: 16px 0 !important;
          margin: 0;

          .header_bf550a {
            text-align: center;
          }

          .emptyCard_f02fcf {
            margin: 16px;
          }
          .outer_ac5d22 {
            background: transparent;
          }

          .wrapper_cd82a7 {
            background: var(--background-secondary);
            margin: 16px;
            border-radius: 10px;
            border: none;

            .body_cd82a7 {
              & > :nth-last-child(3) {
                border-radius: 8px 8px 0 0;
              }
              .separator_cd82a7 {
                display: none;
              }
              & > :nth-child(3) {
                border-radius: 0 0 8px 8px;
              }
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  // Aka badge
  .akaBadge__27cd4 {
    background: var(--main-color);
    color: #fff;
  }

  // Call
  .wrapper_d880dc:not(.video_d880dc) {
    background: var(--background-secondary);
    margin: 15px;
    border-radius: 10px;
    animation: callzoom 2s ease;

    .tile_dc5fc4 {
      background: var(--background-primary);

      .button_e5cc00,
      .buttonColor_d4af21 {
        background-color: var(--main-color);
      }
    }

    // Video background
    .videoWrapper_ba4b17 {
      background: var(--background-primary);
    }

    // Speaking ring
    .border_db83a2.speaking_db83a2 {
      box-shadow: inset 0 0 0 2.5px #43b581,
      inset 0 0 0 6px var(--background-secondary);
    }

    // Call buttons
    .colorable_ef18ee.primaryDark_ef18ee,
    .leftTrayIcon_d880dc {
      background: var(--background-primary);
    }

    .wrapper_b6e2f9 > .controlButton_b6e2f9 > svg > foreignObject {
      mask: none;
    }
  }

  // Call region selector
  .quickSelectPopout_abbf45 {
    background: var(--background-primary);
  }

  // Nitro
  .applicationStore_cecc86 .container_fc4f04 {
    width: calc(100% - 240px);
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, var(--background-primary), transparent);
    z-index: 1;
  }

  // User profile
  .userPanelOuter_c69a7b {

    .scrollerBase_eed6a8 {
      overflow: unset !important
    }

    // Banner
    .bannerSVGWrapper_b32cc2 {
      overflow: visible;
      min-height: 180px !important;
      contain: unset;
      max-width: 340px;

      .banner_d5fdb1 {
        position: absolute;
        height: 200px;
        -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
        clip-path: polygon(
                        0 0,
                        100% 0,
                        100% calc(100% - 25px),
                        50% 100%,
                        0 calc(100% - 25px)
        );
      }

      // Normal banners
      &[viewBox="0 0 340 60"] > foreignObject {
        transform: translateY(-60px);
      }

      // Premium banners with image
      &[viewBox="0 0 340 120"] > foreignObject {
        transform: translateY(-30px);
      }

      // Premium banners with colours
      &[viewBox="0 0 340 90"] > foreignObject {
        transform: translateY(-45px);
      }

      & > foreignObject {
        mask: none;
      }
    }

    .divider_ae36e5 {
      display: none;
    }

    // Badges
    .badgelistGroup_ab525a {
      min-height: 10px;
    }
    .badgeList_ab525a {
      position: absolute;
      top: 160px;
      left: 0;
      width: 340px;
      height: unset;
      max-width: unset;
      padding: 0;
      justify-content: center;
      background-color: transparent;
    }

    .section_d7a21f {
      padding-top: 0;
      padding-bottom: 12px;
    }

    .userPanelOverlayBackground_a2b6ae:nth-child(2) {
      position: static;

      .section_d7a21f .userText_c9ccf6 {
        position: absolute;
        top: 110px;
        left: 0;
        width: 340px;
        box-sizing: border-box;
        text-align: center;

        .discrimBase_c9ccf6 {
          color: white;
        }
      }

      .pronouns_c9ccf6 {
        position: relative;
        margin-top: 8px;
      }

      .scroller_d2b491::-webkit-scrollbar {
        display: none;
      }

      // Activities
      .activity__20c1e {
        z-index: 1;

        .assetsLargeImageSpotify_c1d9fd {
          border-radius: 8px !important;
          margin-left: 6px;
        }

        .null {
          margin-right: 8px;
        }

        // Button
        .button_da7790 {
          background-color: var(--main-color);
          opacity: 1;
        }

        // Platform icon
        .platformIcon_c1d9fd {
          display: none;
        }

        // Time bar
        .timeBarUserPopoutV2_c1d9fd {
          position: absolute;
          top: 7px;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 70px;
          border-radius: 8px;

          .bar_ec2fa7 {
            border-radius: 8px;
            height: 100%;
          }

          .barInner_ec2fa7 {
            border-radius: 8px 0 0 8px;
            opacity: 0.2;
          }
          & > :last-child {
            display: none;
          }
        }
      }

      .input-2g-os5 {
        background-color: transparent !important;
      }
    }

    // Username adjustements for premium popouts
    &.userProfileOuterThemed_c69a7b .usernameSection_d2b491 {
      left: 4px;
    }

    // Avatar
    .avatarWrapper_f89da9 {
      top: 15px !important;
      left: calc(50% - 40px);

      // View profile mask
      .avatarHint_f89da9 {
        top: 0;
        left: 0;
        border-radius: calc(var(--avatar-radius) * 2) !important;

        foreignObject {
          mask: none !important;

          // Custom Avatar Hint
          .avatarHintInner_f89da9 {
            font-size: 0;
            text-transform: none;

            &::after {
              white-space: normal;
              text-align: center;
              content: var(--avatar-hint-text);
              color: var(--avatar-hint-color);
              font-size: var(--avatar-hint-size);
              font-family: var(--avatar-hint-font);
            }
          }
        }
      }
    }

    // Avatar mask
    .mask_c51b4e {
      foreignObject {
        border-radius: calc(var(--avatar-radius) * 2) !important;
      }
      circle,
      rect[fill="black"] {
        display: none;
      }
    }
  }
}