:root {
  // Left bar
  .searchBar_e4ea2a {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    background: linear-gradient(
      180deg,
      var(--background-secondary),
      transparent
    );
    box-shadow: none;

    .searchBarComponent__22760 {
      background: var(--background-primary);
      border-radius: 20px;
      font-size: 10px;
      text-align: center;
    }
  }

  .input__848cd {
    background: var(--background-primary);
  }

  .privateChannels__93473 > .scroller__4b984 {
    padding-top: 48px;
    background: transparent;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Channels
  .channel_c21703 {
    margin: 0;
    max-width: unset;
    border-radius: 0;

    .layout__59abc {
      padding: 0 22px;
      width: calc(100% - 22px);
      border-radius: 0;
    }
  }

  // Wide friend list
  .container__5c7e7 {
    background: var(--background-primary);

    // Buttons
    .actionButton__23182 {
      background: transparent;

      &:hover {
        background: var(--background-primary);
      }
    }

    // Scrollbar
    .peopleColumn__51df3 ::-webkit-scrollbar {
      display: none;
    }

    // Get rid of box-shadow
    .tabBody_b3d268::before,
    .libraryHeader_ee5638::before {
      content: none;
    }
    .header__55964,
    .header_f71767,
    .header-JHwfVI {
      display: none;
    }

    // Now playing
    .nowPlayingColumn_f5023f {
      background: transparent;
      margin: 3px 0 10px 0;

      .container__0a6a9 {
        background: var(--background-secondary);
        border-radius: 15px 0 0 15px;

        .scroller__00e7e {
          border: none;
          padding: 16px 0 !important;
          margin: 0;

          .header__123bf {
            text-align: center;
          }

          .emptyCard_f82dde {
            margin: 16px;
          }
          .outer_a41cf3 {
            background: transparent;
          }

          .wrapper__6e669 {
            background: var(--background-secondary);
            margin: 16px;
            border-radius: 10px;
            border: none;

            .body__83069 {
              & > :nth-last-child(3) {
                border-radius: 8px 8px 0 0;
              }
              .separator_c2ecc6 {
                display: none;
              }
              & > :nth-child(3) {
                border-radius: 0 0 8px 8px;
              }
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  // Aka badge
  .akaBadge__7df41 {
    background: var(--main-color);
    color: #fff;
  }

  // Call
  .wrapper_bd2abe:not(.video__85ac2) {
    background: var(--background-secondary);
    margin: 15px;
    border-radius: 10px;
    animation: callzoom 2s ease;

    .tile_a411a4 {
      background: var(--background-primary);

      .button__13ec4,
      .buttonColor_fa1bb3 {
        background-color: var(--main-color);
      }
    }

    // Video background
    .videoWrapper_b42a4f {
      background: var(--background-primary);
    }

    // Speaking ring
    .border_e782de.speaking__1dd69 {
      box-shadow: inset 0 0 0 2.5px #43b581,
        inset 0 0 0 6px var(--background-secondary);
    }

    // Call buttons
    .colorable_c84c4c.primaryDark__6b700,
    .leftTrayIcon_b73d25 {
      background: var(--background-primary);
    }

    .wrapper__3f3a7 > .controlButton_ab2899 > svg > foreignObject {
      mask: none;
    }
  }

  // Call region selector
  .quickSelectPopout_c0cf80 {
    background: var(--background-primary);
  }

  // Nitro
  .applicationStore_fc7d76 .container__11d72 {
    width: calc(100% - 240px);
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, var(--background-primary), transparent);
    z-index: 1;
  }

  // User profile
  .userPanelOuter__880e5 {

    .scrollerBase_dc3aa9 {
      overflow: unset !important
    }

    // Banner
    .bannerSVGWrapper__3e7b0 {
      overflow: visible;
      min-height: 180px !important;
      contain: unset;
      max-width: 340px;

      .banner__6d414 {
        position: absolute;
        height: 200px;
        -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
        clip-path: polygon(
          0 0,
          100% 0,
          100% calc(100% - 25px),
          50% 100%,
          0 calc(100% - 25px)
        );
      }

      // Normal banners
      &[viewBox="0 0 340 60"] > foreignObject {
        transform: translateY(-60px);
      }

      // Premium banners with image
      &[viewBox="0 0 340 120"] > foreignObject {
        transform: translateY(-30px);
      }

      // Premium banners with colours
      &[viewBox="0 0 340 90"] > foreignObject {
        transform: translateY(-45px);
      }

      & > foreignObject {
        mask: none;
      }
    }

    .divider__2bbbc {
      display: none;
    }

    // Badges
    .badgelistGroup__53eaa {
      min-height: 10px;
    }
    .badgeList_ef4131 {
      position: absolute;
      top: 160px;
      left: 0;
      width: 340px;
      height: unset;
      max-width: unset;
      padding: 0;
      justify-content: center;
      background-color: transparent;
    }

    .section__6f61e {
      padding-top: 0;
      padding-bottom: 12px;
    }

    .userPanelOverlayBackground__34fc8:nth-child(2) {
      position: static;

      .section__6f61e .userText__3e8b7 {
        position: absolute;
        top: 110px;
        left: 0;
        width: 340px;
        box-sizing: border-box;
        text-align: center;

        .discrimBase_e0c4c5 {
          color: white;
        }
      }

      .pronouns__8bcdb {
        position: relative;
        margin-top: 8px;
      }

      .scroller__83262::-webkit-scrollbar {
        display: none;
      }

      // Activities
      .activity__20c1e {
        z-index: 1;

        .assetsLargeImageSpotify__06348 {
          border-radius: 8px !important;
          margin-left: 6px;
        }

        .content_d7cb7f {
          margin-right: 8px;
        }

        // Button
        .button__9491f {
          background-color: var(--main-color);
          opacity: 1;
        }

        // Platform icon
        .platformIcon__05c5e {
          display: none;
        }

        // Time bar
        .timeBarUserPopoutV2_c5b927 {
          position: absolute;
          top: 7px;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 70px;
          border-radius: 8px;

          .bar_e63719 {
            border-radius: 8px;
            height: 100%;
          }

          .barInner_d1abc6 {
            border-radius: 8px 0 0 8px;
            opacity: 0.2;
          }
          & > :last-child {
            display: none;
          }
        }
      }

      .input-2g-os5 {
        background-color: transparent !important;
      }
    }

    // Username adjustements for premium popouts
    &.userProfileOuterThemed__6eb84 .usernameSection__53868 {
      left: 4px;
    }

    // Avatar
    .avatarWrapper_f77579 {
      top: 15px !important;
      left: calc(50% - 40px);

      // View profile mask
      .avatarHint__8e5b9 {
        top: 0;
        left: 0;
        border-radius: calc(var(--avatar-radius) * 2) !important;

        foreignObject {
          mask: none !important;

          // Custom Avatar Hint
          .avatarHintInner__3d1c9 {
            font-size: 0;
            text-transform: none;

            &::after {
              white-space: normal;
              text-align: center;
              content: var(--avatar-hint-text);
              color: var(--avatar-hint-color);
              font-size: var(--avatar-hint-size);
              font-family: var(--avatar-hint-font);
            }
          }
        }
      }
    }

    // Avatar mask
    .mask__1979f {
      foreignObject {
        border-radius: calc(var(--avatar-radius) * 2) !important;
      }
      circle,
      rect[fill="black"] {
        display: none;
      }
    }
  }
}
