:root { 

.membersWrap-2h-GB4 {
    margin-top: -48px;
    max-height: calc(100% + 48px);

    .members-1998pB { 
        padding-top: 48px;

        // Members
        .member-3-YXUe {
            margin: 0;

            .layout-2DM8Md {
                padding: 0 22px;
                width: calc(100% - 22px);
                border-radius: 0;
            }
        }
        
        &::-webkit-scrollbar { display: none;}
    }
}
    
// User popout
.loadingPopout-qYljDW { background: var(--background-secondary);}

.userPopout-xaxa6l {
    background: var(--background-secondary);
    box-shadow: unset !important; margin-right: 20px;
    border-radius: 8px;

        // Banner
        .banner-2QYc2d {
            position: absolute;
            width: 300px; height: 180px;
            border-radius: 8px 8px 0 0;
            -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));

            &.bannerPremium-2hSAwz { background-color: transparent !important;}
        }

    // User infos
    .headerTop-3vNv-a {
        display: flex; flex-direction: column-reverse;
        text-align: center; padding-top: 110px;
        padding-bottom: 20px; 

        .headerTagWithNickname-3l_x6x, .setIdentityLink-1t8Ahd { display: none;}
        .headerTagDiscriminatorNoNickname-D-AYUN { color: #dadada;}

        // Badges
        .profileBadges-ohc0Vu {
            position: static;
            justify-content: center;
            max-width: unset;

            & > * { margin: 0 3px;}
            &:empty { margin-bottom: 20px;}
        }

        .headerText-1vVs-U { margin-bottom: 8px;}
    }

    // Status + About Me
    .customStatus-oN4ZZY, .aboutMeSection-1Fw5Ia { padding-top: 12px;}

    .divider-ewBQKj { display: none;}
    
    // Body
    .body-3HBlXn {

        // Activities
        .activity-2INFPu {
    
            // Button
            .button-38aScr { background-color: var(--main-color);}
    
            // Spotify icon
            .spotifyIcon-2J9kSv { display: none;}
        }
        .bodyInnerWrapper-26fQXj {
            padding-right: 16px;
            
            .note-1oo11U { margin: 0;}
        } 

        &::-webkit-scrollbar { display: none;}
    }

    // Avatar
    .avatarWrapper-3r9PdD {
        top: 0; left: 50%;
        grid-area: avatar;
        margin: 15px 0 0 -50px;

        .avatar-37jOim { background: none; border: none;}

        // View profile mask
        .avatarHint-2A3RNb {
            top: 0; left: 0;
            border-radius: calc(var(--avatar-radius) * 2) !important;

            foreignObject {  
                mask: none !important;

                // Custom Avatar Hint
                .avatarHintInner-1TvA8u {
                    font-size: 0; text-transform: none;
                    
                    &::after {
                        white-space: normal; text-align: center;
                        content: var(--avatar-hint-text);
                        color: var(--avatar-hint-color);
                        font-size: var(--avatar-hint-size);
                        font-family: var(--avatar-hint-font);
                    }
                }
            }
        }
    }

    // Avatar mask
    .mask-1l8v16 foreignObject { border-radius: calc(var(--avatar-radius) * 2) !important;}
}

// User modal
.root-3QyAh1 {
    width: 800px;
    flex-direction: row;
    overflow: unset;
    position: relative;

    // Header
    .topSection-y3p-_D {
        position: relative;
        background: var(--background-secondary);
        width: 40%; z-index: 1;
        border-radius: 10px 0 0 10px;

        // Banner
        .banner-2QYc2d {
            position: absolute;
            width: 100%; height: 100%;
            z-index: -1;
            opacity: 0.6; border-radius: 10px 0 0 10px;
            mask-image: linear-gradient(90deg, #000c, #0002); // vscode thing
            -webkit-mask-image: linear-gradient(90deg, #000c, #0002);
        }

        .header-4zuFdR {
            position: static;

            // Avatar
            .avatar-AvHqJA {   
                position: relative;         
                top: 16px;
                border: none;
                background: none;
                width: 80px !important;
                height: 80px !important;
            }

            .headerTop-547GTz {
                position: static;

                .badgeList-1R1WgZ {
                    position: absolute;
                    top: 75px; left: 120px;
                }
            }
        }

        .nameTag-ECvD8P {
            position: absolute;
            flex-direction: column;
            align-items: flex-start;
            top: 0; left: 100px;
            max-width: 200px;
            margin-top: 16px;
        }

        .relationshipButtons-pUQVkf {
            position: absolute;
            bottom: 20px; left: 18px;
            z-index: 1;
        }

        // Avatar mask
        .mask-1l8v16 foreignObject { border-radius: calc(var(--avatar-radius) * 2.1) !important;}

        // Badges
        .profileBadges-9OJ14v { // when u have too many badges
            flex-wrap: wrap;
            flex-flow: row wrap;
        }

        // Custom Status
        .customStatusActivity-nmH3DF {
            position: fixed;
            bottom: 0; right: 0;
            width: 460px; padding: 10px;
            border-bottom-right-radius: 10px;
            backdrop-filter: blur(8px);

            &.activityProfile-2bJRaP {
                right: unset;
                bottom: -140px;
                left: 5px;
                width: 750px;
                padding: 20px;
            }
            
            .customStatus-2pgT4N { max-width: 130px;}

            // Player
            .assetsLargeImageActivityFeed-25vA7H, .assetsLargeImageActivityFeedXbox-3Tr-tf, .assetsLargeImageProfile-3YXDex {
                width: 40px;
                height: 40px;
            }
        }

        .activityHeader-2shpl0 { display: none;}
    

        // Menu
        .tabBarContainer-37hZsr {
            position: relative;
            top: 20px;
            border-bottom: unset;

            .tabBar-3nvOPa {
                flex-direction: column;

                .item-PXvHYJ {
                    height: 40px;
                    border-bottom: unset;
                }
            }
        }
    }  

    // Body
    .body-r6_QPy {
        background: var(--background-primary);
        width: 60%;
        min-height: 350px;
        border-radius: 0 10px 10px 0;

        // Connected account
        .connectedAccounts-QlRa4m {

            .connectedAccount-2Jb-Z0 { 
                border: none; border-radius: 8px;
                background-color: var(--background-secondary);
            }
        }
        
        // Powercord connected account
        .pc-connections .connectedAccounts-QlRa4m:empty::before { background-color: transparent;}

        // Mutuals
        .listScroller-3GmIYj {
            display: grid; grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(20, 0fr); gap: 10px; padding-left: 8px;
        
            .listRow-1iDGel {
                position: relative; z-index: 1;
                height: 44px; margin: 0; padding-left: 10px;
                border-radius: 8px; overflow: hidden;
                background-color: var(--background-secondary);

                .listAvatar-1BbvHX {
                    position: absolute; 
                    right: 0; z-index: -1;
                    width: 62% !important; height: 250% !important; margin-right: 0;
                    border-radius: 0;
                    -webkit-mask-image: linear-gradient(-90deg, #0000008c, #00000000); 

                    foreignObject { width: 100%; height: 100%;}
                }
            }

            .empty-39KnKA {
                grid-column: 1/3; grid-row: 1/22;
                position: relative; z-index: 0; overflow: hidden;
                margin: 0; padding-left: 10px;
                border-radius: 8px;

                .emptyIconFriends-2l7flK {
                    position: absolute; z-index: -1;
                    width: 80%; height: 80%; margin-left: -10px;
                    opacity: 0.2; background-size: 100%;
                }
            }

            .activityProfile-2bJRaP {
                grid-column: 1/3;
            }
        }
    }
}

// USRBG for BetterDiscord only
.userPopout-xaxa6l .banner-2QYc2d,
.root-3QyAh1 .banner-2QYc2d {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--user-popout-position, center) center;
    background-image: var(--user-background);
}

}