:root {
  .membersWrap-3GwLFp {
    margin-top: -48px;
    max-height: calc(100% + 48px);

    .members-2y1nVj {
      padding-top: 48px;

      // Members
      .member-2gU6Ar {
        margin: 0;

        .layout-1qmrhw {
          padding: 0 22px;
          width: calc(100% - 22px);
          border-radius: 0;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // User popout
  .loadingPopout-1feYe_ {
    background: var(--background-secondary);
  }

  .userPopoutOuter-1OHwPL {
    max-height: unset !important;
    box-shadow: unset !important;
    border-radius: 8px;

    .userPopoutInner-nv9Y92::before {
      max-height: unset !important;
    }

    // Banner
    .bannerSVGWrapper-2CLfzN {
      overflow: visible;
      min-height: 180px !important;
      contain: unset;

      .banner-1YaD3N {
        position: absolute;
        height: 200px;
        -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
        clip-path: polygon(
          0 0,
          100% 0,
          100% calc(100% - 25px),
          50% 100%,
          0 calc(100% - 25px)
        );

        &.bannerPremium-kkSkPv {
          background-color: transparent !important;
        }
      }

      // Normal banners
      &[viewBox="0 0 340 60"] > foreignObject {
        transform: translateY(-60px);
      }

      // Premium banners with image
      &[viewBox="0 0 340 120"] > foreignObject {
        transform: translateY(-30px);
      }

      // Premium banners with colours
      &[viewBox="0 0 340 90"] > foreignObject {
        transform: translateY(-45px);
      }

      & > foreignObject {
        mask: none;
      }
    }

    // Badges
    .profileBadges-2pItdR {
      position: absolute;
      top: 160px;
      left: 0;
      width: 340px;
      max-width: unset;
      padding: 0;
      justify-content: center;
      background-color: transparent;
    }

    .section-28YDOf {
      padding-top: 0;
      padding-bottom: 12px;
    }

    // New body
    .userPopoutOverlayBackground-3A0Pcz {
      position: static;
      background-color: transparent;

      & > .divider-2dDziJ {
        display: none;
      }

      .usernameSection-3FppkT .userText-1_v2Cq {
        position: absolute;
        top: 110px;
        left: 0;
        width: 340px;
        box-sizing: border-box;
        text-align: center;

        .discrimBase-v65kTs {
          color: white;
        }
      }

      .pronouns-17_QV6 {
        position: relative;
      }

      .scroller-15bIdk::-webkit-scrollbar {
        display: none;
      }

      // Activities
      .activity-3uaYny {
        z-index: 1;

        .assetsLargeImageSpotify-17ME3M {
          border-radius: 8px !important;
          margin-left: 6px;
        }

        .content-tXPNDw {
          margin-right: 8px;
        }

        // Button
        .button-TGAkj4 {
          background-color: var(--main-color);
          opacity: 1;
        }

        // Platform icon
        .platformIcon-k3yytQ {
          display: none;
        }

        // Time bar
        .timeBarUserPopoutV2-32DL06 {
          position: absolute;
          top: 7px;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 70px;
          border-radius: 8px;

          .bar-1GpknY {
            border-radius: 8px;
            height: 100%;
          }

          .barInner-3dHef4 {
            border-radius: 8px 0 0 8px;
            opacity: 0.2;
          }
          & > :last-child {
            display: none;
          }
        }
      }

      .input-2g-os5 {
        background-color: transparent !important;
      }
    }

    // Username adjustements for premium popouts
    &.userProfileOuterThemed-2BgJCM .usernameSection-3FppkT {
      left: 4px;
    }

    // Avatar
    .avatarWrapper-eenWra {
      top: 15px !important;
      left: calc(50% - 40px);

      // View profile mask
      .avatarHint-k7pYop {
        top: 0;
        left: 0;
        border-radius: calc(var(--avatar-radius) * 2) !important;

        foreignObject {
          mask: none !important;

          // Custom Avatar Hint
          .avatarHintInner-2HUAWj {
            font-size: 0;
            text-transform: none;

            &::after {
              white-space: normal;
              text-align: center;
              content: var(--avatar-hint-text);
              color: var(--avatar-hint-color);
              font-size: var(--avatar-hint-size);
              font-family: var(--avatar-hint-font);
            }
          }
        }
      }
    }

    // Avatar mask
    .mask-1y0tyc {
      foreignObject {
        border-radius: calc(var(--avatar-radius) * 2) !important;
      }
      circle,
      rect[fill="black"] {
        display: none;
      }
    }
  }

  // User modal
  .root-8LYsGj.root-1CAIjD.small-2xUY-3 {
    width: 800px;
    height: 100%;

    & > div, .userProfileModalOuter-2wdWjU {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }

  .userProfileModalInner-3dx9L9 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    border-radius: 8px;

    &::before {
      width: 100%;
      height: 100%;
    }

    // Header
    .topSection-13QKHs {
      z-index: 1;
      overflow: hidden;
      width: calc(55% - 16px);
      height: 100%;
      margin-bottom: 0;

      header {
        width: 100%;
        height: 100%;
      }

      .bannerSVGWrapper-2CLfzN {
        min-width: unset !important;
        min-height: unset !important;
        width: 100%;
        height: 100%;

        .banner-1YaD3N {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0.6;
          border-radius: 10px 0 0 10px;
          mask-image: linear-gradient(90deg, #000c, #00000049); // vscode thing
          -webkit-mask-image: linear-gradient(90deg, #000000cc, #00000049);
        }

        & > foreignObject {
          mask: none;
        }

        &[viewBox="0 0 600 106"] > foreignObject {
          y: -350px;
          height: 800px;
        }

        &[viewBox="0 0 600 212"] > foreignObject {
          y: -250px;
          height: 700px;
        }
      }

      .header-S26rhB {
        position: static;

        // Avatar
        .avatar-3QF_VA {
          top: 16px;
          left: 16px;

          circle,
          rect[fill="black"] {
            display: none;
          }
        }

        .badgeList-2aoHPw {
          position: absolute;
          top: 65px;
          left: -15px;
          background-color: transparent;
        }
      }
    }

    .relationshipButtons-3ByBpj {
      position: fixed;
      bottom: 15px;
      left: 15px;
      z-index: 1;
    }

    // Avatar mask
    .mask-1y0tyc foreignObject {
      border-radius: calc(var(--avatar-radius) * 2.1) !important;
    }

    // Custom Status
    .customStatusText-1uNQ8w {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: calc(45% + 16px);
      padding: 10px 20px;
      backdrop-filter: blur(8px);
      box-sizing: border-box;
      border-bottom-right-radius: 5px;

      &.activityProfile-1712BN {
        right: unset;
        bottom: -140px;
        left: 5px;
        width: 750px;
        padding: 20px;
      }

      .customStatus-3qYNe4 {
        margin-top: 0;
      }

      // Player
      .assetsLargeImageActivityFeed-3zBude,
      .assetsLargeImageActivityFeedXbox-3gGXXV,
      .assetsLargeImageProfile-1TX9jP {
        width: 40px;
        height: 40px;
      }
    }

    // Body
    .userProfileModalOverlayBackground-2dAaBg {
      position: static;
      width: calc(45% + 16px);
      margin: 0;
      overflow: visible;
      background-color: var(--background-primary);
      border-radius: 0;

      .body-1Ukv50 {
        // Username
        .container-3g15px > div:first-child {
          position: absolute;
          top: 25px;
          left: 153px;
          z-index: 1;

          & > span {
            max-width: 200px;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .container-3g15px {
          padding: 0;
        }
        .divider-SH6OnO {
          display: none;
        }

        // Pronouns
        .pronouns-RGQpyK {
          position: absolute;
          left: 153px;
          top: 112px;
          z-index: 1;
        }

        // Menu
        .tabBarContainer-sCZC4w {
          position: absolute;
          bottom: 65px;
          left: 5px;
          z-index: 1;
          border-bottom: unset;

          .tabBar-2hXqzU {
            flex-direction: column;
            gap: 15px;

            .item-2GWPIy {
              height: 20px;
              border-bottom: unset;
            }
          }
        }

        // Connected account
        .connectedAccounts-2R5M4w {
          padding-bottom: 80px;

          .connectedAccountContainer-3aLMHJ {
            border: none;
            border-radius: 8px;
          }
        }

        // Mutuals
        .listScroller-entkMk {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(20, 0fr);
          gap: 10px;
          padding-left: 8px;

          .listRow-2nO1T6 {
            position: relative;
            z-index: 1;
            height: 44px;
            margin: 0;
            padding-left: 10px;
            border-radius: 8px;
            overflow: hidden;
            background-color: #ffffff07;

            .listAvatar-2bU5Uh {
              position: absolute;
              right: 0;
              z-index: -1;
              width: 62% !important;
              height: 250% !important;
              margin-right: 0;
              border-radius: 0;
              -webkit-mask-image: linear-gradient(90deg, #00000000, #000000cb);

              svg {
                position: relative;
                width: 100%;
                height: 100%;

                foreignObject {
                  width: 100%;
                  height: 100%;
                }
                rect {
                  display: none;
                }
              }
            }
          }

          .empty-2zcusz {
            grid-column: 1/3;
            grid-row: 1/22;
            position: relative;
            z-index: 0;
            overflow: hidden;
            margin: 0;
            padding-left: 10px;
            border-radius: 8px;

            .emptyIconFriends-2LNxTX {
              position: absolute;
              z-index: -1;
              width: 80%;
              height: 80%;
              margin-left: -10px;
              opacity: 0.2;
              background-size: 100%;
            }
          }

          .activityProfileV2-1N7pee {
            grid-column: 1/3;
          }
        }

        .input-2g-os5 {
          background-color: transparent;
        }
      }
    }
  }

  .userProfileModalInner-3dx9L9 .userProfileModalOverlayBackground-2dAaBg {
    background-color: transparent;
  }
}