// -- Ruindows support --
body {
  background: transparent;
}

.withFrame__485f4 {
  background: var(--background-tertiary);
  padding: 8px 16px;
  height: 24px;
  margin-top: unset;
  position: relative;
  left: 90px;
  width: calc(100% - 122px);
  z-index: 1;
  pointer-events: none;

  // Discord
  .wordmark__0d178 {
    top: unset;
    left: 16px;
    color: transparent;
  }

  // Windows buttons
  .winButton__88672 {
    color: var(--textcolor);
    top: -8px;
    right: -16px;
    height: 40px;
    width: 56px;
  }

  // Not maximised icon
  .winButtonClose__73489 + .winButtonMinMax__72f36::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 18px;
    width: 18px;
    height: 18px;
    background: url("https://cdn.discordapp.com/attachments/539180316447997974/713920529622630411/aaaaaaaaa.svg")
      no-repeat;
    background-size: contain;
    opacity: 0;
  }
}

.theme-light .winButtonClose__73489 + .winButtonMinMax__72f36::before {
  background-image: url("https://cdn.discordapp.com/attachments/539180316447997974/713920227582279810/aaaaaaaaa.svg");
}

// When maximised
body.maximized .winButtonClose__73489 + .winButtonMinMax__72f36 {
  svg {
    opacity: 0;
  }
  &::before {
    opacity: 1;
  }
}

// Pushing things lower
.platform-win {
  .chat__52833 .wrapper_bd2abe:not(.minimum_ebf000) .search__07df0 {
    top: 50px;
  }

  .appMount_fae9dd .app_b1f720 {
    .scroller__3d071 {
      padding-top: 20px;
    }
    .content__4bf10::after {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      z-index: 2;
      width: 30px;
      height: 30px;
      border: solid var(--background-tertiary);
      border-width: 5px 0 0 5px;
      border-radius: 15px 0 0 0;
      box-sizing: border-box;
    }
  }
  .layers_a23c37,
  .layers__1c917,
  .layers_a23c37 > .layer__2efaa,
  .container__037ed {
    overflow: visible;
  }

  // Recent mentions
  .recentMentionsPopout__826a9,
  .root__6d24f {
    top: 40px;
  }
}

// Window effect
html:not(.platform-linux) body:not(.maximized).transparent .appMount_fae9dd {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 var(--background-tertiary);
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transform: translateZ(0);
}

// MacOS Support
.platform-osx {
  .typeMacOS__496b0 {
    width: 90px;

    .macButtons__7b1bc {
      width: 90px;
      padding: 10px 20px 10px 20px;
    }
  }

  .unreadMentionsIndicatorTop_ada847 {
    top: 20px;

    .mention__1afd3 {
      background: transparent;
    }
  }

  .guilds__2b93a {
    margin: 0;

    .scroller__3d071 {
      padding-top: 40px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 32px;
      top: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        var(--background-tertiary),
        transparent
      );
    }
  }
}

:root {
  // Scrollbars
  *::-webkit-scrollbar {
    width: 8px;

    &-thumb {
      background: var(--background-secondary);
      border-radius: 20px;
    }

    &-track-piece {
      display: none;
    }
  }

  // Version
  .info__755e1 .text-xs-normal_ccc5fb:last-child::after {
    content: "\a Couve v"var(--version);
    text-transform: none;
    white-space: pre;
  }

  // Discover
  .categoryItem_b1be5c {
    margin: 3px 0 3px 8px;

    &.selectedCategoryItem__0bf4c .itemInner__9e755 {
      background: var(--epicshadow1);
    }
  }

  .pageWrapper_fef757 {
    background: var(--background-primary);

    .search-25t1e9 .searchBox-31Zv9h {
      background: var(--background-secondary);

      .input_d266e7 {
        color: white;
      }

      .searchIcon-3X4BYL {
        margin-left: 8px;
      }
    }

    .card__86773,
    .iconMask__1aff7 {
      background-color: var(--card);

      &:hover,
      &:hover .iconMask__1aff7 {
        background: var(--background-secondary);
      }
    }
  }

  // Server boost
  .root__6d24f {
    top: 40px;
    left: calc(90px + 240px);
    contain: unset;

    .perksModal-CLcR1c {
      background-color: var(--background-primary);

      // Card
      .ctaBar-Nhk8yY {
        background: var(--background-secondary);
        border-radius: 10px;
      }

      // Slide
      .progressBar-20NUv9 {
        z-index: 1;

        .bar-1g-wqp {
          border-radius: 0;
        }

        .tierMarkerBackground-G8FoN4 {
          z-index: -10;
        }
        .tierMarkerBackground-G8FoN4,
        .barBackground-unEPDT {
          background: var(--background-secondary-alt-alt);
        }

        .tierMarkerInProgress-2Tdxjz {
          background: var(--background-primary) !important;
        }
      }

      // Carousel
      .carouselContainerVisible-bGCrdY {
        left: -15%;

        .tierHeaderUnlocked-1IvR2R {
          background: #b377f3;

          .tierUnlocked-1yG5Ic {
            background: #0006;
            color: #fff;
          }
        }

        .tierHeaderLocked-3ItHYn {
          background: var(--background-secondary-alt-alt);
        }
        .tierBody-3ju-rc {
          background: var(--background-secondary);
        }
      }

      // Perks
      .perk-19D_HN {
        background: var(--background-secondary);
      }
    }

    .closeWrapper-1aVqeP {
      padding-top: 72px;

      .closeButton__34341 {
        &:active {
          transform: none;
        }

        &::before {
          content: "";
          position: fixed;
          top: 0;
          left: -330px;
          width: 330px;
          height: 100%;
          z-index: 100;
        }
      }
    }
  }

  // Roles
  .role__631a3,
  .sidebar_bdf6b7 .list__41249 .item__48dda,
  .container_d27846 .item__287de,
  .roleRow-3HnunM {
    position: relative;
    overflow: hidden;
    height: unset;
    z-index: 1;
    border: none;
    padding: 5px;
    border-radius: 20px;
    margin-right: 4px;
    margin-left: 0;
  }

  .role__631a3 .roleCircle_bae511::before,
  .sidebar_bdf6b7 .list__41249 .item__48dda .roleCircle_bae511::before,
  .container_d27846 .item__287de .roleCircle_bae511::before,
  .roleRow-3HnunM .roleCircle_bae511::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }

  .roleRemoveButton__737f2 {
    position: unset;

    .roleRemoveIcon__7f63d {
      left: 15px;
    }
  }

  // Role popout
  .container_d27846 {
    border: none;

    .item__287de {
      margin-right: 5px;
    }
  }

  // Roles in settings
  .sidebar_bdf6b7 {
    border: none;

    .list__41249 {
      padding-left: 16px;

      .item__48dda {
        padding: 6px 10px;
        margin-bottom: 6px;
        border-radius: 25px;
      }
    }
  }

  // Roles scroller
  #user-context-roles + .layer_ec16dd .item__183e8 {
    flex-direction: row-reverse;

    .iconContainer-1-SsTR {
      margin: 0 8px 0 0;
    }

    .roleRow-3HnunM {
      border-radius: 25px;

      .roleDot-2gCDg5 {
        filter: none;
        margin-right: 4px;
      }
    }
  }

  // Commom popout modal
  .root_a28985,
  .modal__060da {
    background: var(--background-primary);
    box-shadow: unset;
    border-radius: 10px;

    form {
      display: flex;
      flex-direction: column;
    }

    &.small__05f7b {
      min-height: unset;
    }

    // Header
    .header__6d5ea {
      text-align: center;
    }

    .separator__925e8 {
      box-shadow: none;
    }

    // Footer
    .footer__89240 {
      padding: 0;
      text-align: center;
      background: transparent;
      box-shadow: none;
      min-height: 45px;
      overflow: hidden;
      border-radius: 0 0 10px 10px;

      button {
        flex-grow: 1;
        margin: 0;
        padding: 2px 16px;
        box-shadow: none !important;
        border-radius: 0;
        min-height: 45px;
      }

      .lookLink-15mFoz {
        background: #fff1;
      }

      & > * {
        width: 100%;
        margin: 0;
      }

      .cancelButton-kOgwem,
      .cancel-1Ph_Z1 {
        margin-right: 0;
      }
      .minorContainer_afda6f {
        order: -1;
        margin-bottom: 16px;
      }
    }

    // Stream / Screenshare popout
    .qualitySettingsContainer-30AsSH {
      border: none;
      padding: 0;
    }

    .card-1SdQ2-,
    .item-2OyinQ {
      border: none;
      background: var(--background-secondary);
    }

    .changeButton-3QdaoH {
      border-radius: 3px;
    }
    .art-2OaYX0 + form > :nth-child(3) > :last-child,
    .changeButton-3QdaoH {
      background: #fff1 !important;
    }
    .selectorButtonSelected-3Z0WNU {
      background: var(--main-color);
    }

    // Change quality nitro popout
    .primaryActions_accda3 {
      flex-grow: 1;

      .shinyButton_fc8363 {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }

    // Remove background for image carrousel
    &.carouselModal-1eUFoq {
      background: none;
    }
  }

  .popout-1KHNAq {
    border: none;

    .option-2eIyOn {
      background: var(--background-secondary);
    }
  }

  // Buttons and specific elements
  .button_afdfd9 {
    border-radius: 8px;
    transition: box-shadow 200ms;
  }

  .lookFilled__19298.colorBrand_b2253e,
  .lookFilled__19298.colorBrand_b2253e:hover {
    background: var(--main-color) !important;
  }

  .item-2idW98[style*="background-color"] {
    background: var(--main-color) !important;
  }

  // Checkbox
  .checked__6bdb0 {
    border: none;
  }
  .checkbox-f1HnKB {
    border-radius: 50%;
  }

  // Slider
  .bar_e58961 {
    background: var(--background-secondary-alt-alt);

    .barFill__30e17 {
      background: var(--main-color);
    }
  }
  .grabber_d2868c {
    border: none;
    background: transparent;
    box-shadow: none;
  }

  // Cards
  .cardPrimary_cb7a0e,
  .cardPrimaryEditable-2mz_3i,
  .cardPrimaryOutline-1ofwVz {
    border: none;
    background: var(--background-secondary);
    border-radius: 10px;
  }
  .card_fd0d59::before {
    background-color: var(--background-secondary);
    border: none;
  }
  .default__3e2f5 {
    background-color: var(--background-secondary);
  }

  // Inputs & selects
  .input_d266e7 {
    border: none;
    border-radius: 8px;
    transition: background 0.4s;
  }

  .select__0eb48,
  .item_b7fb7e {
    border: none;
    border-radius: 8px;
  }

  .popout_a6e77f {
    border: none;
    border-radius: 8px;

    &.popoutPositionTop_b2d29e {
      margin-bottom: 5px;
    }
    margin-top: 5px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .input_be50d1,
  .container__871ba {
    border-radius: 8px;

    rect {
      rx: 8px;
    }
  }

  .option_be8b2e:hover {
    background: rgba(255, 255, 255, 0.05) !important;
  }
  .option_be8b2e:hover {
    background: rgba(255, 255, 255, 0.05) !important;
  }

  // Specific menus
  .styleFixed-2_NfVL {
    background: var(--background-primary);
    box-shadow: unset;
  }

  .styleFlexible-x0_sIC,
  .submenu_acf564 {
    overflow: hidden;
    background: var(--background-secondary-alt);
    box-shadow: unset;
  }

  .submenuPaddingContainer__12a9d {
    margin-left: -8px;
    margin-right: -8px;
  }

  .button__3ecb4,
  .button__3ecb4:hover {
    background: var(--background-primary);
  }

  .item__183e8 {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
    transition: background 200ms;

    &:hover,
    &.focused__27621,
    &:active:not(.hideInteraction__2790e) {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  // Account profile
  .accountProfilePopoutWrapper_af829a {
    position: fixed;
    top: 0;
    left: 0;

    // New decorations thingy
    .container__0ec3c {
      background: var(--background-tertiary);

      & > .ctaContainer__95bd7 {
        background-color: transparent;
      }
    }

    .userPopoutOuter_d739b2 {
      width: 330px;
      height: 100vh;
      max-height: unset;
      animation: sidebarStatusTransalteX 0.5s ease, fade 0.4s ease;
      border-radius: 0;
      background: var(--background-tertiary);
      margin-right: 0;
      padding: 0;

      .userPopoutInner_f545a3 {
        height: 100vh;
        max-height: 100vh;

        &::before {
          width: 100% !important;
          height: 100% !important;
        }
      }

      .userProfileInnerThemedNonPremium__3d0a6 {
        background: transparent;
      }

      // Banner
      .bannerSVGWrapper__3e7b0 {
        .pencilContainer_d4ce8d {
          display: none;
        }
      }

      // Avatar
      .avatarWrapper_f77579 {
        left: calc(50% - 35px);
      }

      // Username section
      .usernameSection__53868 .clickTarget__440f0 {
        & > .copiableField__0c0e7 {
          padding-right: 0;

          & > div:last-child {
            display: none;
          }
        }
      }

      // Badges
      .profileBadges__7a7cb {
        top: 160px;
        width: 330px;
      }

      // Divider
      .divider__2bbbc {
        display: none;
      }

      // Status selector
      #account {
        background-color: var(--background-secondary);
        overflow: hidden;
        margin-top: 20px;

        & > .scroller__750f5 {
          padding: 0 !important;

          #account-status-picker,
          #account-set-custom-status,
          #account-switch-account,
          #account-edit-custom-status,
          [id^="account-devmode-copy-id-"] {
            padding: 16px;
          }

          [id^="account-devmode-copy-id-"] {
            color: var(--interactive-hover) !important;
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  // Inner container (menu items, dividers, etc)
  div[role="group"]:not(.profileGroup-1yKk23) .item__183e8 {
    &.colorDefault-CDqZdO.focused__27621,
    &.colorDefault-CDqZdO:hover:not(.hideInteraction__2790e) {
      background: var(--epicshadow1);
    }
  }

  &::-webkit-scrollbar-thumb {
    background: var(--epicshadow1);
  }

  &.full-motion .animatorTop-3ltI52 {
    transition: unset !important;
  }

  .scroller__750f5 {
    overflow-y: auto !important;
    padding-left: 0;

    &::-webkit-scrollbar-thumb {
      background: var(--epicshadow1);
    }
  }

  .avatarWrapper_ba5175 .avatarSpeaking__61fb1 {
    border-radius: var(--avatar-radius);
  }

  // Stream previews
  .streamPreview__1846c {
    background: var(--background-secondary);
    width: 330px;

    .previewContainer_bb1924 {
      background: var(--background-secondary);
      height: 200px;
    }
  }

  // Tooltips
  .tooltip-14MtrL {
    background: var(--background-secondary-alt);
  }
  .tooltipPointer_a79354 {
    border-top-color: var(--background-secondary-alt) !important;
  }

  // Invite modal
  .modal-atz_3z {
    .header__6d5ea {
      box-shadow: none;
    }
    .container__7712a {
      background-color: var(--background-secondary);
    }
    .title-3hptVQ {
      margin: 8px;
    }
    .input-2g-os5 {
      border-radius: 0;
    }
    .inviteRowButton-3hcOhY {
      width: fit-content;
      border: none;
    }

    & > .footer-1hTRRZ > .content-3nJg0c {
      .inviteBannerUpsell-1t_LYM {
        order: 3;
        margin-top: 0;
      }

      .footerText-2QLGHU {
        margin: 8px 8px 16px;
        order: 2;
      }

      .input_d266e7 {
        order: 4;
      }

      .marginBottom8_f4aae3 {
        margin: 8px;
        order: 1;
      }
    }
    .content-3nJg0c:before,
    .title-3hptVQ {
      display: none;
    }
  }

  // Create a server
  .container__0d1a7 {
    background-color: var(--background-primary);
    border-radius: 8px;

    --background-primary: #252a3e;
    --background-secondary: #1e2337;
    --background-secondary-alt-alt: #1b1d31;
    --header-primary: #d0d0d0;
    --header-secondary: #fff;
    --text-normal: #dcddde;
    --text-muted: #dcddde;
    --interactive-normal: #fff9f9;
    --primary-400: #fff;

    .container__73245 {
      border: none;
      background-color: var(--background-modifier-hover);
    }

    .input_d266e7,
    .input__0c269 {
      background-color: var(--background-secondary);
    }

    .button_afdfd9.lookBlank__7ca0a {
      color: var(--header-secondary);
    }
  }

  // New channels and role thing and member thing
  .container__10dc7,
  .background_cb0a80,
  .header__60bef,
  .emptyPage__3e15d,
  .scrollerContainer_bf5dbd,
  .container__7590f,
  .container_df3aa0,
  .page__0b66e {
    background-color: var(--background-primary);
  }
  .row__70f4c,
  .container__7712a{
    background-color: var(--background-secondary);
  }
  .inviteButton_eb675f {
    background-color: var(--main-color);
  }

  .mainTableContainer__5ffe0 {
    background-color: var(--background-secondary);
  }

  .tableHeaderRow__89a36:first-child:after {
    box-shadow: none;
  }

  // Welcome popout
  .contentWrapper__85d37 {
    background: var(--background-primary);
  }

  // Keyboard Combos modal
  .keyboardShortcutsModal__74c71 {
    background: var(--background-primary);

    .keybindShortcut-3zF1P9 span {
      background: var(--main-color);
    }
  }

  // SCTR connection
  .container__0810b {
    border-radius: 12px;
    overflow: hidden;

    .header-2C89wJ {
      background-color: var(--background-tertiary);
    }
    section {
      background-color: var(--background-primary);
    }
  }

  // Picture-in-picture
  .pictureInPictureWindow_dc49a8 {
    z-index: 10000;
  }
  .pictureInPictureVideo_f1081d .container__11d72 {
    width: 100%;
  }

  // no dividers thx
  .content__1a4fe:before,
  .divider_c09b64,
  .separator__18122 {
    display: none;
  }

  // Removing borders
  .attachWrapper__6354f,
  .panel_bd8c76,
  .peopleListItem_d14722,
  .rowWrapper__2d725 + .rowWrapper__2d725 .row_f3cc85,
  .header_b5ab54,
  .headerCell__7a86a,
  .containerBackground__1e084 {
    border: none;
  }

  // UNSET TEXT TRANSFORM SOMETIMES IS BETTER THAN UPPERCASE TEXT TRANSFORM
  .headerText__7d203,
  .bodyTitle-Y0qMQz,
  .userInfoSectionHeader-CBvMDh,
  .title-3hptVQ,
  .contentTitle_b7c496,
  .header-3A13BX,
  .calendarPicker__5c474 .react-datepicker__current-month,
  :root .react-datepicker__day-name,
  .subSectionHeader-1bsAit {
    text-transform: unset;
  }

  // masks are wild
  .mask__1979f {
    img {
      border-radius: 0 !important;
    }

    foreignObject {
      mask: none !important;
      border-radius: var(--avatar-radius) !important;
    }
  }

  // Status masks
  .pointerEvents__33f6a {
    mask: none !important;
    rx: 30;

    &[mask="url(#svg-mask-status-typing)"] {
      rx: 6;
    }
    &[mask="url(#svg-mask-status-online-mobile)"] {
      rx: 4;
    }
  }

  // Loading screen
  .ready__61f2f {
    display: none;

    & + .text__32559 {
      top: 82px;

      &::before {
        content: "";
        position: absolute;
        bottom: 100px;
        left: 50px;
        width: 200px;
        height: 200px;
        background: url("https://i.imgur.com/2XrlegJ.png") center/80% no-repeat;
        animation: jump 1s infinite;

        @keyframes jump {
          0% {
            transform: translateY(0);
          }
          20% {
            transform: translateY(-25px);
          }
          40% {
            transform: translateY(0);
          }
          60% {
            transform: translateY(-12px);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }

  // Animation
  &.full-motion .translate-PeW1wK {
    transform: translateZ(0);
    animation: zoom 0.3s ease, fade 0.3s ease;
  }

  // ==> Keyframes <==

  @keyframes sidebarStatusTransalteX {
    from {
      transform: translateX(-15%);
    }
    to {
      transform: none;
    }
  }

  @keyframes sidebarStatusTransalteXReverse {
    from {
      transform: translateX(15%);
    }
    to {
      transform: none;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes zoom {
    from {
      transform: scale(1.05);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes callzoom {
    from {
      background: var(--background-primary);
      margin: 0;
      border-radius: 0;
      opacity: 0;
    }
    to {
      background: var(--background-secondary);
      margin: 15px;
      border-radius: 10px;
      opacity: 1;
    }
  }

  @keyframes blink {
    79% {
      content: ">_<";
    }
    80% {
      content: "-_-";
    }
    90% {
      content: ">_<";
    }
    100% {
      content: "-_-";
    }
  }
}

// Replacing the brand colors
:root {
  --brand-400: var(--main-color);
  --brand-500: var(--main-color);
  --text-brand: var(--main-color);
  --control-brand-foreground: var(--main-color);
}