:root {
  // CustomStatusPresets
  .scale-3UGUBw.didRender-2SiRlm {
    transform: scale(1) !important;
  }

  #status-picker.menu_d90b3d #status-picker-custom-status {
    .labelContainer-2vJzYL {
      padding: 0 16px;
    }

    & + .layer_cd0de5 {
      top: 432px !important;
      left: 359px !important;

      .submenu-1apzyU {
        background: var(--background-tertiary);
        border-radius: 0 8px 8px 0;
      }
    }
  }

  // Game Activity Toggle - BetterDiscord - Thanks DevilBro
  .gameActivityToggleAdded-Yd-YxC > div:last-child button:first-child {
    color: var(--main-color);
  }

  .activityPanel_a4d4d9
  ~ .gameActivityToggleAdded-Yd-YxC
  > div:last-child
  button:first-child {
    margin-right: 35px;
  }

  // MemberCount
  #MemberCount {
    top: 48px;

    .membersGroup_cbd271 {
      margin-top: 0;
      padding: 18px 8px 0 16px;
    }

    & + .members_cbd271 {
      margin-top: 0;
      padding-top: 70px;
    }
  }

  // Status weird behavior with BetterDiscord
  .mask_c51b4e > svg > mask > :not(:first-child) {
    display: none;
  }

  // BDFDB notifications
  .notice__5fd4c[id] {
    margin: -30px 240px 0px 90px;
    border-radius: 8px 8px 0 0 !important;

    & ~ .layers_d4b6c5 .sidebar_a4d4d9 {
      border-radius: 0;
    }
  }

  // ChannelDms
  .ChannelDms-channelmembers-wrap {
    width: 240px;

    .ChannelDms-channelmembers-header {
      margin-top: -48px;
      padding-top: 48px;
      max-height: calc(100% + 48px);
      background: var(--background-secondary);
      border-bottom-width: 0px;

      & + div .membersWrap_cbd271 {
        margin-top: 0;
        max-height: unset;

        .members_cbd271 {
          padding-top: 0;
        }
      }
    }
  }

  // ChannelsTabs
  #channelTabs-container {
    position: relative;
    left: 80px;
    width: calc(100% - 96px);
    background-color: var(--background-tertiary);

    & ~ .layers_d4b6c5 .guilds_a4d4d9 {
      margin-top: -85px;
    }
  }

  // ServerFolders
  ul[data-list-id="guildfoldersnav"] {
    margin-top: 12px;
  }

  // Vendetta plugins
  .vc-addon-name-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}