:root {
  // CustomStatusPresets
  .scale-3UGUBw.didRender-2SiRlm {
    transform: scale(1) !important;
  }

  #status-picker.menu-1QACrS #status-picker-custom-status {
    .labelContainer-2vJzYL {
      padding: 0 16px;
    }

    & + .layer-2aCOJ3 {
      top: 432px !important;
      left: 359px !important;

      .submenu-1apzyU {
        background: var(--background-tertiary);
        border-radius: 0 8px 8px 0;
      }
    }
  }

  // Game Activity Toggle - BetterDiscord - Thanks DevilBro
  .gameActivityToggleAdded-Yd-YxC > div:last-child button:first-child {
    color: var(--main-color);
  }

  .activityPanel-9icbyU
    ~ .gameActivityToggleAdded-Yd-YxC
    > div:last-child
    button:first-child {
    margin-right: 35px;
  }

  // MemberCount
  #MemberCount {
    top: 48px;

    .membersGroup-2eiWxl {
      margin-top: 0;
      padding: 18px 8px 0 16px;
    }

    & + .members-3WRCEx {
      margin-top: 0;
      padding-top: 70px;
    }
  }

  // Status weird behavior with BetterDiscord
  .mask-1FEkla > svg > mask > :not(:first-child) {
    display: none;
  }

  // BDFDB notifications
  .notice-2HEN-u[id] {
    margin: -30px 240px 0px 90px;
    border-radius: 8px 8px 0 0 !important;

    & ~ .layers-OrUESM .sidebar-1tnWFu {
      border-radius: 0;
    }
  }

  // ChannelDms
  .ChannelDms-channelmembers-wrap {
    width: 240px;

    .ChannelDms-channelmembers-header {
      margin-top: -48px;
      padding-top: 48px;
      max-height: calc(100% + 48px);
      background: var(--background-secondary);
      border-bottom-width: 0px;

      & + div .membersWrap-3NUR2t {
        margin-top: 0;
        max-height: unset;

        .members-3WRCEx {
          padding-top: 0;
        }
      }
    }
  }

  // ChannelsTabs
  #channelTabs-container {
    position: relative;
    left: 80px;
    width: calc(100% - 96px);
    background-color: var(--background-tertiary);

    & ~ .layers-OrUESM .guilds-2JjMmN {
      margin-top: -85px;
    }
  }

  // ServerFolders
  ul[data-list-id="guildfoldersnav"] {
    margin-top: 12px;
  }
}
