:root {
  .guilds__2b93a {
    width: 90px;
    margin-top: -35px;

    // When full-screen video
    &.hidden__7c832 {
      width: 0 !important;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 90px;
      height: 100px;
      background: linear-gradient(
        360deg,
        var(--background-tertiary),
        transparent
      );
      pointer-events: none;
    }

    .scroller__3d071 {
      padding: 30px 0;

      // Home button
      &
        > .tutorialContainer-2sGCg9:first-child
        > .listItem_fa7b36
        .childWrapper__01b9c {
        background: var(--main-color);
        color: #fff;
      }

      & > .listItem_fa7b36:nth-last-child(2) {
        margin-bottom: 80px;
      }

      // Server
      .listItem_fa7b36 {
        width: 90px;

        .wrapper__3af0b,
        .svg_ad7356 {
          width: 42px;
        }
        .wrapper_d281dd {
          border-radius: 50%;
          overflow: hidden;
          transition: border-radius 200ms;

          &:hover {
            border-radius: calc(50% - 4px);
          }
        }

        .upperBadge_c7cfb3 {
          top: 2px;
          right: -1px;
        }

        // Mention badge
        .lowerBadge__669e7 {
          bottom: 4px;
          right: -5px;

          .numberBadge__50328 {
            min-width: 25px;
            background: var(--main-color) !important;
            font-size: 8px;
          }
          &:last-child .numberBadge__50328 {
            box-shadow: 0 0 10px 0 #0008;
          }
        }

        // Server icon
        .wrapper_d281dd {
          &.selected_f5ec8e .childWrapper__01b9c,
          &:hover .childWrapper__01b9c {
            background: var(--main-color);
          }

          .childWrapper__01b9c {
            background: var(--background-secondary);
          }
        }

        defs g:last-child {
          display: none;
        }
      }

      // Server Folders
      .wrapper_ed1dea {
        width: 90px;

        .expandedFolderBackground__1bec6 {
          left: 21px;
        }

        .folderIconWrapper__72239 {
          transition: border-radius 200ms;

          &:hover {
            border-radius: calc(16px - 4px);
          }
        }

        .wrapper__3af0b > svg > foreignObject {
          mask: none;

          .folder__17546 {
            background: transparent;
          }
        }

        &.expanded {
          .expandedFolderBackground__1bec6 {
            background: var(--background-secondary);
          }
        }
      }

      // Create server + Discover buttons
      .circleIconButton_d8df29 {
        border-radius: 14px;
        border: dashed 2px var(--epicshadow1);
        background: transparent;
        color: var(--epicshadow1);
        transition: all 0.2s;
      }

      .tutorialContainer_dc6fde {
        &:hover .circleIconButton_d8df29,
        & + .listItem_fa7b36:hover .circleIconButton_d8df29 {
          background: transparent;
          color: var(--main-color);
          border-color: var(--main-color);
        }

        .wrapperSimple_a34580,
        & + .listItem_fa7b36 .wrapperSimple_a34580 {
          overflow: visible;
        }
        svg > foreignObject,
        & + .listItem_fa7b36 svg > foreignObject {
          mask: none;
        }
      }
      .wrapperSimple_a34580 foreignObject {
        mask: none;
      }

      // Some space for the avatar
      & > div:last-child {
        margin-bottom: 80px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    // Mentions & Unread
    .mention__1afd3 {
      height: 100%;
      background: linear-gradient(
        360deg,
        transparent,
        var(--background-tertiary)
      );
      transition: color 0.2s;
      opacity: 1;
      text-transform: capitalize;
      color: var(--textcolor);
      animation: fade 0.5s;
      border-radius: 0;

      &:hover {
        color: var(--main-color);
      }
    }
    .unreadMentionsIndicatorBottom-BXS58x .mention__1afd3 {
      background: transparent;
    }

    // In server
    .unreadMentionsIndicatorTop_ada847,
    .unreadMentionsIndicatorBottom_fdb943 {
      width: 100%;
      height: 30px;
      padding: 0;
    }
  }
}
