:root {
  .layer__2efaa {
    transform: unset !important;

    &.baseLayer__8fda3 {
      opacity: 1 !important;

      &.stop-animations {
        transform: scale(1) !important;
      }
    }
    &:not(.baseLayer__8fda3) {
      margin-left: 90px;
    }

    // Scroller
    .sidebarRegion__60457 {
      flex: unset;
      background: var(--background-tertiary);

      .sidebarRegionScroller__1fa7e {
        justify-content: flex-start;
        border-radius: 8px 0 0;

        .sidebar__9e3e2 {
          width: 240px;

          .side_b4b3f6 .header_f72511 {
            color: var(--textcolor);
          }

          .bd-sidebar-header-label {
            color: var(--textcolor);
            padding: 0;
          }

          .side_b4b3f6 .header_f72511,
          .side_b4b3f6 .item__48dda,
          .bd-sidebar-header {
            padding: 6px 30px;
            border-radius: 0;
          }

          // Discord social stuff
          .socialLinks_c1fc99 {
            justify-content: center;
            display: flex;
            flex-direction: row;
          }

          // Client informations
          .info__755e1 {
            padding-left: 30px;
          }
        }
        .sidebar__9e3e2,
        .flexChild__6e093 {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    // Panel
    .contentColumn_dc7d36,
    .customColumn_e22a6e {
      max-width: 95%;
      min-width: unset;
    }

    // Close button
    .toolsContainer_f5d55d {
      position: absolute;
      right: 0px;

      .closeButton__34341 {
        &:active {
          transform: none;
        }

        &::before {
          content: "";
          position: fixed;
          top: 0;
          left: 0;
          width: 90px;
          height: 100%;
          z-index: 100;
        }
      }
    }
  }

  // Save bar
  .noticeRegion__2779f {
    right: 0;
    max-width: 100%;

    .container__467eb {
      background-color: var(--background-secondary) !important;
    }
  }

  // -- User settings --

  // My account
  @media (max-width: 1465px) {
    .accountProfileCard__22589 {
      flex-direction: column;

      .bannerSVGWrapper__3e7b0 {
        min-width: 0 !important;
        min-height: 150px !important;

        mask {
          display: none;
        }
        foreignObject {
          y: -51px !important;
        }
      }

      // Banner
      .banner__6d414 {
        border-radius: 8px 8px 0 0 !important;
        height: 200px !important;
        flex: unset !important;
      }

      // User info
      .userInfo__8f826 {
        height: 150px !important;
        margin-left: 0 !important;
        justify-content: space-evenly !important;

        // Badges
        .container__5bda1 {
          justify-content: center;
        }
      }

      .background_b61fcc {
        flex: unset !important;
      }
    }
  }

  .accountProfileCard__22589 {
    display: flex;
    background-color: var(--background-secondary);

    .bannerSVGWrapper__3e7b0 {
      min-height: 320px;

      mask {
        display: none;
      }
      foreignObject {
        y: -110px;
      }
    }

    // Banner
    .banner__6d414 {
      -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.7607843137), rgba(0, 0, 0, 0.7607843137));
      border-radius: 8px 0 0 8px;
      height: 320px;
      flex: 1;
    }

    // User info
    .userInfo__8f826 {
      position: absolute;
      display: grid;
      grid-template-areas:
        "avatar username"
        "avatar button";
      gap: 20px;
      overflow: hidden;
      height: 100%;
      padding: 0;
      justify-content: flex-start;
      margin-left: 40px;

      // Avatar
      .avatar__6c108 {
        grid-area: avatar;
        position: static;
        width: 120px !important;
        height: 120px !important;
        border: none;
        background: none;
        align-self: center;

        .mask__1979f {
          width: 120px;
          height: 120px;
        }
      }

      // Username
      & > div:nth-child(2) {
        grid-area: username;
        align-self: flex-end;
      }

      // Edit profile
      button:last-child {
        grid-area: button;
      }
    }

    .background_b61fcc {
      margin: 0;
      flex: 1;
    }
  }

  // User profile
  .profileCustomizationSection__88eff .baseLayout_b00434 {
    & > :first-child {
      flex: 2 auto;
    }

    .userPopoutInner_f545a3:before {
      width: calc(100% - 8px) !important;
    }

    // Banner
    .banner_b7f1fb {
      position: absolute;
      left: 0;
      height: 200px;
      -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 25px),
        50% 100%,
        0 calc(100% - 25px)
      );
    }

    // Avatar
    .avatarUploader__18c3f {
      top: 15px;
      left: 50%;
      margin-left: -40px;

      .avatarUploaderInner_c81617 {
        border: none;
        border-radius: var(--avatar-radius);
      }

      .imageUploaderIcon__0c13b {
        display: none;
      }
      .status_be3f03 {
        background-color: transparent;
      }
    }

    // User infos
    .section__6f61e .userText__3e8b7 {
      position: absolute;
      top: 110px;
      left: 0;
      width: 340px;
      box-sizing: border-box;
      text-align: center;

      .discrimBase_e0c4c5 {
        color: white;
      }
    }

    // Status + About Me
    .customStatus__3aa7f {
      padding-top: 12px;
    }

    .divider-1wtgZ3 {
      display: none;
    }
  }

  .bioTextArea_a108c9 {
    border-radius: 8px;
  }

  // Privacy & Safety
  .item-2idW98 {
    background: var(--background-secondary);
    transition: transform 200ms;

    &:hover {
      background: var(--background-secondary);
    }
  }

  // Connections
  .connectionHeader__3c82d {
    background: transparent;

    .connectionDelete__988b5 {
      border-color: transparent;
      border-radius: 50%;
      padding: 8px 8px 5px 8px;
      transition: background 100ms;

      &:hover {
        background: #fff2;
      }
    }
  }

  // Nitro
  .premiumLabel_f2cd55 {
    flex-direction: row-reverse;
    justify-content: flex-end;

    svg {
      margin-right: 8px;
    }

    & + .selectedBackground_d847da {
      background-color: var(--background-modifier-selected);
      border-radius: 0;
    }
  }

  // Boost
  .cardWrapper_bc8d2a {
    transform: translateZ(0);
    overflow: hidden;
    background: #0008;
    --header-primary: #fff;

    .tierLabel__41356 {
      color: #fff;
      font-weight: 500;
    }
    .gemIndicatorContainer_b03ca0 {
      background: transparent;
      backdrop-filter: blur(5px);

      .gemWithoutLabel__6225b {
        color: #999;
      }
    }

    .icon_c48348 {
      border-radius: 8px;

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        z-index: -1;
        opacity: 0.5;
        filter: blur(20px);
      }
    }
  }

  // Gift Inventory
  .promotionCard__8581c {
    border-radius: 8px;
  }

  // Billing
  .paymentPane__9cf01,
  .codeRedemptionRedirect_bc7f36 {
    background: var(--background-secondary);
    border: none;

    .paginator_e620d3,
    .bottomDivider_a59d97 {
      background: transparent;
    }
    .paymentRow__1bb7a {
      border: none;

      .expandedInfo__47bad {
        background: var(--background-primary);
      }
    }
  }

  // Voice settings
  .micTest_aff6cf .notches__065e9.gray__4fb3f {
    color: var(--background-primary);
  }

  // Activity status
  .addGamePopout_e4ca8f {
    background: var(--background-secondary);
    box-shadow: none;

    .divider__09722 {
      display: none;
    }
  }
  .gameNameInput_e25dd8 {
    padding: 8px;

    &:focus,
    &:hover {
      background-color: var(--background-primary);
      border: none;
    }
  }

  // Game overlay
  .notificationSettings-1U0JsJ {
    max-width: unset;

    .wrapper__4beb8 {
      border: none;
      background: var(--background-secondary);
      border-radius: 20px;

      .option_a0c054 {
        margin: 10px;
        border-radius: 16px;
        background: var(--epicshadow1);

        &:hover {
          background: var(--main-color);
          opacity: 0.4;
        }
        &.selected_ea51d6 {
          background: var(--main-color);
          box-shadow: unset;
        }
      }
    }
  }

  // Hypesquad
  .membershipDialog-2wAdpQ {
    border-radius: 10px;

    &:after {
      left: 5px;
    }
  }
  .videoWrapper__7b3e0 {
    background: transparent;

    iframe {
      margin: auto;
      border-radius: 10px;
    }
  }

  // -- Server settings --

  // Overview
  .avatarUploaderInner__63001 {
    border-radius: 16px;
    box-shadow: none;
  }

  .imageUploaderIcon__0c13b {
    display: none;
  }

  // Roles
  .customScroller_f72801 > div,
  .contentWidth_b55791 {
    max-width: unset;
  }
  .customColorPicker__3cb6a {
    background: var(--background-secondary);
    border: none;
    border-radius: 8px;

    .customColorPickerInputContainer_f28509 .input_d266e7 {
      background-color: var(--background-secondary);
    }
  }

  // Emoji
  .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background: var(--background-primary);
  }

  // Audit log
  .auditLog__6c805 {
    border: none;
    border-radius: 8px;
    overflow: hidden;

    .header_e08fd2,
    .changeDetails_ecd760 {
      background: var(--background-secondary);
    }
    .divider__1505d {
      display: none;
    }
  }

  // Widget
  .copyInput_c1c679 {
    border: none;
    border-radius: 8px;
  }

  // App directory
  .directoryContainer_d3edd9 {
    background-color: var(--background-primary);
  }

  // Discovery
  .modal-1gWd9S,
  .container_b61112 {
    .footer_c793da {
      border-bottom-left-radius: 0 !important;
    }
  }

  // Membership Screening
  .editCircle-2uL_D3,
  .editCircle-ityklj {
    background: var(--background-primary);
  }
  .formFieldWrapper-2LV3S6 {
    border: none;
  }

  // Discovery
  .sparkles-2XXTZO {
    z-index: unset;
  }

  // Server Boost Status
  .background__3dd67 {
    color: var(--background-secondary);
  }
  .tierInProgress_f08e8b,
  .tierBody__615a1,
  .tierHeaderLocked__4d099,
  .tierHeaderUnlocked_cc60fa {
    background: var(--background-secondary);
  }

  // Members
  .overflowRolesPopout__88ab9,
  .overflowRolesPopoutArrow_f3db31 {
    background: var(--background-secondary);
    box-shadow: none;
  }
}