:root { 

.layer-3QrUeG { 
    transform: unset !important;

    &.baseLayer-35bLyl { 
        opacity: 1 !important;

        &.stop-animations { transform: scale(1) !important;}
    }
    &:not(.baseLayer-35bLyl) { 
        margin-left: 90px;
    }
    
    // Scroller
    .sidebarRegion-VFTUkN {
        flex: unset;
        background: var(--background-tertiary);

        .sidebarRegionScroller-3MXcoP {
            justify-content: flex-start;
            border-radius: 8px 0 0;

            .sidebar-CFHs9e { 
                width: 240px;
            
                .side-8zPYf6 .header-2RyJ0Y, .side-8zPYf6 .item-PXvHYJ { padding: 6px 30px; border-radius: 0;}
                .side-8zPYf6 .item-PXvHYJ:hover { background: var(--background-secondary-alt);}
                
                // Discord social stuff
                .socialLinks-3jqNFy {
                    justify-content: center;
                    display: flex;
                    flex-direction: row;
                    
                    // Powercord
                    .powercord-pc-icon {
                        svg {  border: none;}

                        &::before {
                            top: 0;
                            width: 20px; height: 16px;
                        }
                        }
                }

                // Client informations
                .info-1VyQPT { text-align: center;}
            }
            .sidebar-CFHs9e, .flexChild-faoVW3 { padding-left: 0 !important; padding-right: 0 !important;}
            
            &::-webkit-scrollbar { display: none;}
        }
    }

    // Panel
    .contentColumn-2hrIYH, .customColumn-Rb6toI { max-width: 95%;}

    // Close button
    .closeButton-1tv5uR {

        &:active { transform: none;}
        
        &::before {
            content: "";
            position: fixed;
            top: 0; left: 0;
            width: 90px; height: 100%;
            z-index: 100;
        }
    }
}

// No titles
.sectionTitle-2vauyC { display: none;}

// Save bar
.noticeRegion-1YviSH {
    max-width: unset;

    .container-2VW0UT { background-color: var(--background-secondary) !important;}
}

// -- User settings --

// My account
@media (max-width: 1100px) {
    .accountProfileCard-1XCH88 { 
        flex-direction: column;

        // Banner
        .banner-2QYc2d {
            border-radius: 8px 8px 0 0 !important;
            height: 150px !important;
        }

        // User info
        .userInfo-iCloHO { 
            height: 150px !important; 
            margin-left: 0 !important;
            justify-content: space-evenly !important;

            // Badges
            .container-q03LZO { justify-content: center;}
        }
    }
}

.accountProfileCard-1XCH88 {
    display: flex;
    background-color: var(--background-secondary);

    // Banner
    .banner-2QYc2d {
        border-radius: 8px 0 0 8px;
        height: unset;
    }

    // User info
    .userInfo-iCloHO {
        position: absolute; display: grid;
        grid-template-areas: "avatar username" 
                             "avatar button";
        gap: 20px; overflow: hidden;
        height: 100%; padding: 0;
        justify-content: flex-start;
        margin-left: 40px;

        // Avatar
        .avatar-1uQSZT {
            grid-area: avatar;
            position: static;
            width: 120px !important; height: 120px !important;
            border: none; background: none;
            align-self: center;

            .mask-1l8v16 { width: 120px; height: 120px;}
        }

        // Username
        & > div:nth-child(2) { 
            grid-area: username;
            align-self: flex-end;
        }

        // Edit profile
        button:last-child { grid-area: button;}
    }
    
    .background-1QDuV2 { margin: 0;}
}

// User profile
.profileCustomizationSection-1-Issy .baseLayout-NX_bpH { 
    & > :first-child { flex: 2 auto;}

    // Banner
    .banner-3vVQWW {
        position: absolute;
        height: 180px;
        -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));
    }
    
    // Avatar
    .avatarUploader-3XDtmn {
        top: 15px; left: 50%; margin-left: -40px;

        .avatarUploaderInner-mAGe3e { 
            border: none;
            border-radius: var(--avatar-radius);
    
            .avatarUploaderIcon-3UIzEQ { display: none;}
        }
    }

    // User infos
    .headerTop-3vNv-a {
        display: flex; flex-direction: column-reverse;
        text-align: center; padding-top: 110px;
        padding-bottom: 20px; 

        .headerTagWithNickname-3l_x6x, .setIdentityLink-1t8Ahd { display: none;}
        .headerTagDiscriminatorNoNickname-D-AYUN { color: #dadada;}

        // Badges
        .profileBadges-ohc0Vu {
            position: static;
            justify-content: center;
            max-width: unset;

            & > * { margin: 0 3px;}
            &:empty { margin-bottom: 20px;}
        }

        .headerText-1vVs-U { margin-bottom: 8px;}
    }

    // Status + About Me
    .customStatus-oN4ZZY, .aboutMeSection-1Fw5Ia { padding-top: 12px;}

    .divider-ewBQKj { display: none;}
}

// Privacy & Safety
.item-26Dhrx {
    background: var(--background-secondary);
    transition: transform 200ms;

    &:hover { background: var(--background-secondary);}
}

// Connections
.accountList-33MS45 { 
    background: var(--background-secondary);

    .accountBtn-2Nozo3 .accountBtnInner-sj5jLs { background-color: transparent;}
}

.connectionHeader-2MDqhu { 
    background: transparent;

    .connectionDelete-2Odoln {
        border-color: transparent;
        border-radius: 50%; padding: 8px 8px 5px 8px;
        transition: background 100ms;

        &:hover { background: #fff2;}
    }
}

// Nitro
.premiumTabItem-1QTfBr .flex-1xMQg5 {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .icon-Zc-uZZ { margin-right: 5px;}
}

.hero-EvfTTA { max-width: unset;

    & + .featuresHeader-4YwLcc { text-align: center;}
}
.feature-2w65J5 { background: var(--background-secondary);}

// Boost
.cardWrapper-2Min21 {
    transform: translateZ(0);
    overflow: hidden;
    background: #0008;
    --header-primary: #fff;

    .tierLabel-39IsmN { color: #fff; font-weight: 500;}
    .gemIndicatorContainer-2jdECl {
        background: transparent;
        backdrop-filter: blur(5px);

        .gemWithoutLabel-7-ZvB_ {  color: #999;}
    }

    .icon-3o6xvg::before {
        content: "";
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        z-index: -1; opacity: .5;
        filter: blur(20px);
    }
}

// Billing
.paymentPane-3bwJ6A, .codeRedemptionRedirect-1wVR4b {
    background: var(--background-secondary);
    border: none;

    .paginator-166-09, .bottomDivider-1K9Gao { background: transparent;}
    .paymentRow-2e7VM6 { 
        border: none;

        .expandedInfo-3kfShd { background: var(--background-primary);}
    }
}

// Voice settings
.userSettingsVoice-iwdUCU {

    .previewOverlay-2O7_KC {
        background: var(--background-secondary);
        border: none;
        border-radius: 7px;
    }
    .media-engine-video { border-radius: 10px;}
}

// Activity status
.addGamePopout-2RY8Ju { 
    background: var(--background-secondary);
    box-shadow: none;

    .divider-3573oO { display: none;}
}

// Game overlay
.notificationSettings-1NQKPR { 
    max-width: unset;

    .wrapper-3jrx9n {
        border: none;
        background: var(--background-secondary);
        border-radius: 20px;

        .option-n0icdO {
            margin: 10px;
            border-radius: 16px;
            background: var(--epicshadow1);

            &:hover { background: var(--main-color); opacity: .4;}
            &.selected-mKYnfr { background: var(--main-color); box-shadow: unset;}
        }
    }
}

// Hypesquad
.membershipDialog-rVL-t_ { 
    border-radius: 10px;
    background: var(--background-secondary);

    &:after { left:5px;}
}
.videoWrapper-3YdgHH { 
    background: transparent;

    iframe {
        margin: auto;
        border-radius: 10px;
    }
}


// -- Server settings --

// Overview
.avatarUploaderIndicator-2G-aIZ { display: none;}

// Roles
.customScroller-26gWhv>div, .contentWidth-xLB44s { max-width: unset;}
.colorPickerCustom-2CWBn2 { 
    background: var(--background-secondary); 
    border: none; border-radius: 8px;
}

// Emoji
.emojiAliasInput-1y-NBz .emojiInput-1aLNse { background: var(--background-primary);}

// Audit log
.auditLog-3jNbM6 { 
    border: none;
    border-radius: 8px;
    overflow: hidden;

    .header-GwIGlr, .changeDetails-bk98pu { background: var(--background-secondary);}
    .divider-1pnAR2 { display: none;}
}

// Widget
.copyInput-2rOSt7 { 
    border: none;
    border-radius: 8px;
}

// Membership Screening
.editCircle-y9c7xP, .editCircle-ityklj { background: var(--background-primary);}
.formFieldWrapper-malor5 { border: none;}

// Discovery
.sparkles-2XXTZO { z-index: unset;}

// Server Boost Status
.background-3xPPFc { color: var(--background-secondary);}
.tierInProgress-3mBoXq, .tierBody-3aUxuc, .tierHeaderLocked-3S508x, .tierHeaderUnlocked-3lTDnP { background: var(--background-secondary);}

// Members
.overflowRolesPopout-140n9i, .overflowRolesPopoutArrow-2O66oH { 
    background: var(--background-secondary);
    box-shadow: none;
}

}