:root {
  .layer_d4b6c5 {
    transform: unset !important;

    &.baseLayer_d4b6c5 {
      opacity: 1 !important;

      &.stop-animations {
        transform: scale(1) !important;
      }
    }
    &:not(.baseLayer_d4b6c5) {
      margin-left: 90px;
    }

    // Scroller
    .sidebarRegion_c25c6d {
      flex: unset;
      background: var(--background-tertiary);

      .sidebarRegionScroller_c25c6d {
        justify-content: flex-start;
        border-radius: 8px 0 0;

        .sidebar_c25c6d {
          width: 240px;

          .side_a0 .header_a0 {
            color: var(--textcolor);
          }

          .bd-sidebar-header-label {
            color: var(--textcolor);
            padding: 0;
          }

          .side_a0 .header_a0,
          .side_a0 .item_a0,
          .bd-sidebar-header {
            padding: 6px 30px;
            border-radius: 0;
          }

          // Discord social stuff
          .socialLinks_c44e94 {
            justify-content: center;
            display: flex;
            flex-direction: row;
          }

          // Client informations
          .info_c5a741 {
            padding-left: 30px;
          }
        }
        .sidebar_c25c6d,
        .flexChild_bba380 {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    // Panel
    .contentColumn_c25c6d,
    .customColumn_c25c6d {
      min-width: unset;
      max-width: 95%;
    }

    // Close button
    .toolsContainer_c25c6d {
      position: absolute;
      right: 0px;

      .closeButton_df5532 {
        &:active {
          transform: none;
        }

        &::before {
          content: "";
          position: fixed;
          top: 0;
          left: 0;
          width: 90px;
          height: 100%;
          z-index: 100;
        }
      }
    }
  }

  // Save bar
  .noticeRegion_c25c6d {
    right: 0;
    max-width: 100%;

    .container_b6cd66 {
      background-color: var(--background-secondary) !important;
    }
  }

  // -- User settings --

  // My account
  @media (max-width: 1465px) {
    .accountProfileCard_b69b77 {
      flex-direction: column;

      .bannerSVGWrapper_b32cc2 {
        position: absolute;
        min-height: 150px !important;
        max-width: 100% !important;

        mask {
          display: none;
        }
        foreignObject {
          y: -51px !important;
        }
      }

      // Banner
      .banner_c3e427 {
        border-radius: 8px 8px 0 0 !important;
        height: 200px !important;
        flex: unset !important;
      }

      // User info
      .userInfo_b69b77 {
        height: 150px !important;
        margin-left: 0 !important;
        justify-content: space-evenly !important;

        // Badges
        .container_b64375 {
          justify-content: center;
        }
      }

      .background_b69b77 {
        margin-top: 150px !important;
        flex: unset !important;
      }
    }
  }

  .accountProfileCard_b69b77 {
    display: flex;
    background-color: var(--background-secondary);

    .bannerSVGWrapper_b32cc2 {
      mask {
        display: none;
      }
      foreignObject {
        y: -110px;
      }
    }

    // Banner
    .banner_c3e427 {
      -webkit-mask-image: linear-gradient(
        rgba(0, 0, 0, 0.7607843137),
        rgba(0, 0, 0, 0.7607843137)
      );
      border-radius: 8px 0 0 8px;
      height: 320px;
      flex: 1;
    }

    // User info
    .userInfo_b69b77 {
      position: absolute;
      display: grid;
      grid-template-areas:
        "avatar username"
        "avatar button";
      gap: 20px;
      overflow: hidden;
      height: 100%;
      padding: 0;
      justify-content: flex-start;
      margin-left: 40px;

      // Avatar
      .avatar_b69b77 {
        grid-area: avatar;
        position: static;
        width: 120px !important;
        height: 120px !important;
        border: none;
        background: none;
        align-self: center;

        .mask_c51b4e {
          width: 120px;
          height: 120px;
        }
      }

      .badgeList_b69b77 {
        background-color: transparent;
      }

      // Username
      & > div:nth-child(2) {
        grid-area: username;
        align-self: flex-end;
      }

      // Edit profile
      button:last-child {
        grid-area: button;
      }
    }

    .background_b69b77 {
      margin: 0;
      flex: 1;
    }
  }

  // User profile
  .profileCustomizationSection_bad983 .baseLayout_bad983 {
    & > :first-child {
      flex: 2 auto;
    }

    .userPopoutInner_c69a7b:before {
      width: calc(100% - 8px) !important;
    }

    // Banner
    .banner_ab876d {
      position: absolute;
      left: 0;
      height: 200px;
      -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 25px),
        50% 100%,
        0 calc(100% - 25px)
      );
    }

    // Avatar
    .avatarUploader_ab876d {
      top: 15px;
      left: 50%;
      margin-left: -40px;

      .avatarUploaderInner_ab876d {
        border: none;
        border-radius: var(--avatar-radius);
      }

      .imageUploaderIcon_de76e4 {
        display: none;
      }
      .status_ab876d {
        background-color: transparent;
      }
    }

    // User infos
    .section_d7a21f .userText_c9ccf6 {
      position: absolute;
      top: 110px;
      left: 0;
      width: 340px;
      box-sizing: border-box;
      text-align: center;

      .discrimBase_c9ccf6 {
        color: white;
      }
    }

    // Status + About Me
    .customStatus__3aa7f {
      padding-top: 12px;
    }

    .divider-1wtgZ3 {
      display: none;
    }
  }

  .bioTextArea_ccf27d {
    border-radius: 8px;
  }

  // Privacy & Safety
  .item-2idW98 {
    background: var(--background-secondary);
    transition: transform 200ms;

    &:hover {
      background: var(--background-secondary);
    }
  }

  // Connections
  .connectionHeader_e2a436 {
    background: transparent;

    .connectionDelete_e2a436 {
      border-color: transparent;
      border-radius: 50%;
      padding: 8px 8px 5px 8px;
      transition: background 100ms;

      &:hover {
        background: #fff2;
      }
    }
  }

  // Nitro
  .premiumLabel_ae3c77 {
    flex-direction: row-reverse;
    justify-content: flex-end;

    svg {
      margin-right: 8px;
    }

    & + .selectedBackground_ae3c77 {
      background-color: var(--background-modifier-selected);
      border-radius: 0;
    }
  }

  // Boost
  .cardWrapper_bc8d2a {
    transform: translateZ(0);
    overflow: hidden;
    background: #0008;
    --header-primary: #fff;

    .tierLabel__41356 {
      color: #fff;
      font-weight: 500;
    }
    .gemIndicatorContainer_b03ca0 {
      background: transparent;
      backdrop-filter: blur(5px);

      .gemWithoutLabel__6225b {
        color: #999;
      }
    }

    .icon_f11207 {
      border-radius: 8px;

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        z-index: -1;
        opacity: 0.5;
        filter: blur(20px);
      }
    }
  }

  // Gift Inventory
  .promotionCard_e8af36 {
    border-radius: 8px;
  }

  // Billing
  .paymentPane_f66684,
  .codeRedemptionRedirect_cb70f4 {
    background: var(--background-secondary);
    border: none;

    .paginator_f66684,
    .bottomDivider_f66684 {
      background: transparent;
    }
    .paymentRow_f66684 {
      border: none;

      .expandedInfo_a28a08 {
        background: var(--background-primary);
      }
    }
  }

  // Voice settings
  .micTest_ca3055 .notches_e5cdf3.gray_e5cdf3 {
    color: var(--background-primary);
  }

  // Activity status
  .addGamePopout_fd966d {
    background: var(--background-secondary);
    box-shadow: none;

    .divider_b8ab18 {
      display: none;
    }
  }
  .gameNameInput_fd966d {
    padding: 8px;

    &:focus,
    &:hover {
      background-color: var(--background-primary);
      border: none;
    }
  }

  // Game overlay
  .notificationSettings-1U0JsJ {
    max-width: unset;

    .wrapper_d2da9c {
      border: none;
      background: var(--background-secondary);
      border-radius: 20px;

      .option_d2da9c {
        margin: 10px;
        border-radius: 16px;
        background: var(--epicshadow1);

        &:hover {
          background: var(--main-color);
          opacity: 0.4;
        }
        &.selected_d2da9c {
          background: var(--main-color);
          box-shadow: unset;
        }
      }
    }
  }

  // Hypesquad
  .membershipDialog-2wAdpQ {
    border-radius: 10px;

    &:after {
      left: 5px;
    }
  }
  .videoWrapper_b8e00f {
    background: transparent;

    iframe {
      margin: auto;
      border-radius: 10px;
    }
  }

  // -- Server settings --

  // Overview
  .avatarUploaderInner_f0a9ff {
    border-radius: 16px;
    box-shadow: none;
  }

  .imageUploaderIcon_de76e4 {
    display: none;
  }

  // Roles
  .customScroller_c25c6d > div,
  .contentWidth_bd05f1 {
    max-width: unset;
  }
  .customColorPicker_bbc020 {
    background: var(--background-secondary);
    border: none;
    border-radius: 8px;

    .customColorPickerInputContainer_e467bb .input_f8bc55 {
      background-color: var(--background-secondary);
    }
  }

  // Emoji
  .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background: var(--background-primary);
  }

  // Audit log
  .auditLog_eebd33 {
    border: none;
    border-radius: 8px;
    overflow: hidden;

    .header_eebd33,
    .changeDetails_eebd33 {
      background: var(--background-secondary);
    }
    .divider_eebd33 {
      display: none;
    }
  }

  // Widget
  .copyInput_f549fd {
    border: none;
    border-radius: 8px;
  }

  // App directory
  .directoryContainer_da3f59 {
    background-color: var(--background-primary);
  }

  // Discovery
  .modal-1gWd9S,
  .container_a74b6f {
    .footer_ffaecb {
      border-bottom-left-radius: 0 !important;
    }
  }

  // Membership Screening
  .editCircle-2uL_D3,
  .editCircle-ityklj {
    background: var(--background-primary);
  }
  .formFieldWrapper-2LV3S6 {
    border: none;
  }

  // Discovery
  .sparkles-2XXTZO {
    z-index: unset;
  }

  // Server Boost Status
  .background_a4fd01 {
    color: var(--background-secondary);
  }
  .tierInProgress_a4fd01,
  .tierBody_da77bd,
  .tierHeaderLocked_da77bd,
  .tierHeaderUnlocked_da77bd {
    background: var(--background-secondary);
  }

  // Members
  .overflowRolesPopout_e4010c,
  .overflowRolesPopoutArrow_e4010c {
    background: var(--background-secondary);
    box-shadow: none;
  }
}
