:root {
    #splash { 
        background: #23283d;

        video { 
            display: none;
          
            & + .splash-text {
              top: 82px;
          
              &::before {
                content: ""; position: fixed;
                bottom: 40px; left: 0;
                width: 100%; height: 100%;
                background: url("https://i.imgur.com/2XrlegJ.png") center/50% no-repeat;
                animation: jump 1s infinite;

                @keyframes jump {
                  0% { transform:translateY(0);}
                  20% { transform:translateY(-25px);}
                  40% { transform:translateY(0);}
                  60% { transform:translateY(-12px);}
                  100% { transform:translateY(0);}
                }
              }
            }
          }
    }
}