:root {
  .panels__58331 {
    position: relative;
    z-index: unset;

    // Game part
    .activityPanel__22355 {
      position: absolute;
      bottom: 20px;
      right: 105px;
      padding: 0;
      border-radius: 8px;

      .gameWrapper__5b041 {
        display: none;
      }
      .actions__9256d {
        margin: 0;

        .button_afdfd9 {
          color: var(--main-color);
        }
      }

      &:hover {
        background-color: var(--background-modifier-selected);
      }
    }

    & > .container_ca50b9 {
      padding: 10px 8px;

      // Avatar
      .avatarWrapper_ba5175[aria-expanded] {
        .wrapper_edb6e0 {
          position: fixed;
          left: 29px;
          bottom: 23px;
          z-index: 1;
        }

        &:hover {
          background-color: transparent;
        }
      }

      // Username
      .title-3XlmeX {
        font-weight: 500;
      }

      // Buttons
      .button__4f306 {
        color: #888;

        &[aria-checked="false"].enabled__470f0 {
          color: var(--main-color);
        }
      }
    }
  }

  // Server call
  .noChat_ce920d {
    &.wrapper_bd2abe {
      background: #000;
      margin: 0;
      border-radius: 0;
      animation: unset;

      // Header top
      .headerWrapper__94dd8 .container__11d72 {
        width: unset;
      }

      // Speaking ring
      .border_d9a17b.speaking__9b95a {
        box-shadow: inset 0 0 0 2.5px #43b581,
          inset 0 0 0 4.5px var(--background-secondary);
      }

      // Button
      .wrapper__3f3a7 .button_afdfd9 {
        border-radius: 50%;
      }
      .colorable_c84c4c.primaryDark__6b700,
      .participantsButton__56586,
      .participantsButton__56586:hover {
        background: var(--background-secondary);
      }
      .css-1k9nrkn {
        background: transparent;
      }
      .controlButton_ab2899 foreignObject {
        mask: none;
      }
    }
  }
}
