:root {
  .panels__58331 {
    position: relative;
    z-index: unset;

    // Game part
    .activityPanel_b73e7a {
      position: absolute;
      bottom: 20px;
      right: 105px;
      padding: 0;
      border-radius: 8px;

      .gameWrapper_da7443 {
        display: none;
      }
      .actions_d57dc4 {
        margin: 0;

        .button__581d0 {
          color: var(--main-color);
        }
      }

      &:hover {
        background-color: var(--background-modifier-selected);
      }
    }

    & > .container_debb33 {
      padding: 10px 8px;

      // Avatar
      .avatarWrapper__500a6[aria-expanded] {
        .wrapper__3ed10 {
          position: fixed;
          left: 29px;
          bottom: 23px;
          z-index: 1;
        }

        &:hover {
          background-color: transparent;
        }
      }

      // Username
      .title-3XlmeX {
        font-weight: 500;
      }

      // Buttons
      .button_ae40a4 {
        color: #888;

        &[aria-checked="false"].enabled__214db {
          color: var(--main-color);
        }
      }
    }
  }

  // Server call
  .noChat_ce920d {
    &.wrapper__6bf2d {
      background: #000;
      margin: 0;
      border-radius: 0;
      animation: unset;

      // Header top
      .headerWrapper_ea51a0 .container__26baa {
        width: unset;
      }

      // Speaking ring
      .border_d9a17b.speaking_c28527 {
        box-shadow:
          inset 0 0 0 2.5px #43b581,
          inset 0 0 0 4.5px var(--background-secondary);
      }

      // Button
      .wrapper__4d4fe .button__581d0 {
        border-radius: 50%;
      }
      .colorable__4f530.primaryDark_ec74a7,
      .participantsButton__11fa3,
      .participantsButton__11fa3:hover {
        background: var(--background-secondary);
      }
      .css-1k9nrkn {
        background: transparent;
      }
      .controlButton__863c7 foreignObject {
        mask: none;
      }
    }
  }
}
