:root {
  .panels_a4d4d9 {
    position: relative;
    z-index: unset;

    // Game part
    .activityPanel_a4d4d9 {
      position: absolute;
      bottom: 20px;
      right: 105px;
      padding: 0;
      border-radius: 8px;

      .gameWrapper_bf1a22 {
        display: none;
      }
      .actions_bf1a22 {
        margin: 0;

        .button_dd4f85 {
          color: var(--main-color);
        }
      }

      &:hover {
        background-color: var(--background-modifier-selected);
      }
    }

    & > .container_b2ca13 {
      padding: 10px 8px;

      // Avatar
      .avatarWrapper_b2ca13[aria-expanded] {
        .wrapper_c51b4e {
          position: fixed;
          left: 29px;
          bottom: 23px;
          z-index: 1;
        }

        &:hover {
          background-color: transparent;
        }
      }

      // Username
      .title-3XlmeX {
        font-weight: 500;
      }

      // Buttons
      .button_f67531 {
        color: #888;

        &[aria-checked="false"].enabled_f67531 {
          color: var(--main-color);
        }
      }
    }
  }

  // Server call
  .noChat_d880dc {
    &.wrapper_d880dc {
      background: #000;
      margin: 0;
      border-radius: 0;
      animation: unset;

      // Header top
      .headerWrapper_d880dc .container_e44302 {
        width: unset;
      }

      // Speaking ring
      .border_ba4b17.speaking_ba4b17 {
        box-shadow: inset 0 0 0 2.5px #43b581,
          inset 0 0 0 4.5px var(--background-secondary);
      }

      // Button
      .wrapper_b6e2f9 .button_dd4f85 {
        border-radius: 50%;
      }
      .colorable_ef18ee.primaryDark_ef18ee,
      .participantsButton_b83b18,
      .participantsButton_b83b18:hover {
        background: var(--background-secondary);
      }
      .css-1k9nrkn {
        background: transparent;
      }
      .controlButton_b6e2f9 foreignObject {
        mask: none;
      }
    }
  }
}
