:root {
    
.guilds-1SWlCJ {
    width: 90px; margin-top: -35px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0; left: 0; z-index: 1;
        width: 90px; height: 100px;
        background: linear-gradient(360deg, var(--background-tertiary), transparent);
        pointer-events: none;
    }

    .scroller-1Bvpku {
        padding: 30px 0;

        // Home button
        & > .tutorialContainer-2sGCg9:first-child > .listItem-GuPuDH .childWrapper-anI2G9 {
            background: var(--main-color);
            color: #fff;
        }
        
        & > .listItem-GuPuDH:nth-last-child(2) { margin-bottom: 80px;}

        // Server
        .listItem-GuPuDH {
            width: 90px;

            .wrapper-25eVIn, .svg-1X37T1 { width: 42px;}
            .wrapper-1BJsBx { border-radius: 50%; overflow: hidden;}

            // Metion badge
            .numberBadge-2s8kKX {
                min-width: 25px;
                background: var(--main-color) !important;
                font-size: 8px;
            }
            &:last-child .numberBadge-2s8kKX { box-shadow: 0 0 10px 0 #0008;}

            // Server icon
            .wrapper-1BJsBx {
                &.selected-bZ3Lue .childWrapper-anI2G9, 
                &:hover .childWrapper-anI2G9 { background: var(--main-color);}

                .childWrapper-anI2G9 { background: var(--background-secondary);}
            }

            defs g:last-child { display: none;}
        }

        // Server Folders
        .folder-1hbNCn { background: transparent;}

        .wrapper-3Njo_c {
            width: 90px;

            .expandedFolderBackground-1cujaW { left: 21px;}

            &.expanded { .expandedFolderBackground-1cujaW { background: var(--background-secondary);}}
        }
        

        // Create server + Discover buttons
        .circleIconButton-1QV--U {
            border-radius: 14px;
            border: dashed 2px var(--epicshadow1);
            background: transparent;
            color: var(--epicshadow1);
            transition: all .2s;
        }

        .tutorialContainer-30WoTp {
            &:hover .circleIconButton-1QV--U, & + .listItem-GuPuDH:hover .circleIconButton-1QV--U {
                background: transparent;
                color: var(--main-color);
                border-color: var(--main-color);
            }

            .wrapperSimple-19ogV2, & + .listItem-GuPuDH .wrapperSimple-19ogV2 { overflow: visible;}
            svg > foreignObject, & + .listItem-GuPuDH svg > foreignObject { mask: none;}
        }
        .wrapperSimple-19ogV2 foreignObject { mask: none;}

        // Some space for the avatar
        & > div:last-child { margin-bottom: 80px;}

        &::-webkit-scrollbar { display: none;}
    }

    // Mentions & Unread
    .mention-1f5kbO {
        height: 100%;
        background: linear-gradient(360deg, transparent, var(--background-tertiary));
        transition: color .2s;
        opacity: 1; text-transform: capitalize;
        color: var(--textcolor);
        animation: fade .5s;
        border-radius: 0;

        &:hover { color: var(--main-color);}
    }
    .unreadMentionsIndicatorBottom-BXS58x .mention-1f5kbO { background: transparent;}

    // In server
    .unreadMentionsIndicatorTop-2-tcdU, .unreadMentionsIndicatorBottom-2mDYbI {
        width: 100%; height: 30px;
        padding: 0;
    }
}}